<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <h3>Summary (percentage activities complete for each Stage)</h3>
    <el-table :data="checklistComparisonData.summary" style="width: 100%">
      <el-table-column
        prop="name"
        label="Study name">
      </el-table-column>
      <el-table-column
        prop="stage_0"
        label="Stage 0"
        width="150">
      </el-table-column>
      <el-table-column
        prop="stage_1"
        label="Stage 1"
        width="150">
      </el-table-column>
      <el-table-column
        prop="stage_2"
        label="Stage 2"
        width="150">
      </el-table-column>
      <el-table-column
        prop="stage_3"
        label="Stage 3"
        width="150">
      </el-table-column>
      <el-table-column
        prop="stage_4"
        label="Stage 4"
        width="150">
      </el-table-column>
      <el-table-column
        prop="stage_5"
        label="Stage 5"
        width="150">
      </el-table-column>
    </el-table>
    <h3>Detailed Stage information</h3>
    <el-row class="bg-white">
      <p>Additional comparative data are available for each individual Stage.</p>
      <p>Please select Stage from the list below.</p>
    </el-row>
    <el-row>
      <el-col :span="24">
        <el-select
        v-model="chosenStageId"
        placeholder="Please select Stage"
        data-cy-sg="selectStage">
          <el-option
            v-for="stg in stages"
            :key="stg.id"
            :label="stg.name"
            :value="stg.id"
            :data-cy-sg="`selectStage${stg.id}`">
          </el-option>
        </el-select>
      </el-col>
    </el-row>
    <h4>Activity Category</h4>
      <grouped-bar-chart
        :bar_chart_data="activityCategoryData"
        :xAxisProps="xAxisProps">
      </grouped-bar-chart>
    <h4>Evaluation Area</h4>
      <grouped-bar-chart
        :bar_chart_data="evalAreaData"
        :xAxisProps="xAxisProps">
      </grouped-bar-chart>
  </div>
</template>

<script>
import axios from 'axios'
import GroupedBarChart from '@/components/GroupedBarChart'

const animationDuration = 3000
export default {
  components:{
    GroupedBarChart
  },
  props: [
    'queryString'
  ],
  data() {
    return {
      chosenStageId: '',
      checklistComparisonData: {},
      stages: [
        {
          "id": 0,
          "name": "Stage 0"
        },
        {
          "id": 1,
          "name": "Stage 1"
        },
        {
          "id": 2,
          "name": "Stage 2"
        },
        {
          "id": 3,
          "name": "Stage 3"
        },
        {
          "id": 4,
          "name": "Stage 4"
        },
        {
          "id": 5,
          "name": "Stage 5"
        }
      ],
      xAxisProps: {
        tickmode: 'array',
        tickvals: [0, 25, 50, 75, 100],
        range: [-5, 105],
        title: "Percentage activities completed (%)"
      }
    };
  },
  created() {
    this.getChecklistComparisonResults()
  },
  methods: {
    getChecklistComparisonResults() {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/checklist-comparison?id\=${this.queryString}`
      axios.get(path)
        .then((res) => {
          this.checklistComparisonData = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    }
  },
  computed: {
    activityCategoryData() {
      if (this.chosenStageId === '') {
        return []
      } else {
        return this.checklistComparisonData.bar_chart_data[this.chosenStageId].activity_categories
      }
    },
    evalAreaData() {
      if (this.chosenStageId === '') {
        return []
      } else {
        return this.checklistComparisonData.bar_chart_data[this.chosenStageId].evaluation_areas
      }

    }
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
