<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-header>
      <h1>Detailed results for {{ stageData.name }}</h1>
      <br>
      <el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button>
      <br><br><br>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <b>Stage Gate Study: </b> <span data-cy-sg="title">{{ studyData.name }}</span>
        </el-col>
        <el-col :span="8">
          <b>Description: </b> {{ studyData.description }}
        </el-col>
        <el-col :span="8">
          <b>Threshold settings: </b> {{ studyData.framework }}
        </el-col>
      </el-row>
    </el-header>
    <br><br><br><br><br><br><br>
    <div>
      <el-main>
        <el-row class="bg-white">
          <p>
            The detailed Activity Checklist results for the selected Stage are shown below.
            The percentage completion for Activity Categories and Evaluation Areas are presented, as well as a list of the Outstanding Activities (if applicable).
          </p>
        </el-row>
        <br><br><br>
        <h2>Activity Categories</h2><br>
        <el-row :key="ac.name" v-for="ac in stageData.activity_categories" type="flex" justify="space-between">
          <el-col :span="4">{{ ac.name }}</el-col>
          <el-col :span="12">
            <el-progress :percentage="ac.percent" :color="getColour(ac.percent)"></el-progress>
          </el-col>
          <el-col :span="6">{{ ac.complete }} out of {{ac.total }} activities complete</el-col>
        </el-row>
        <br><br><br>
        <h2>Evaluation Areas</h2><br>
        <el-row :key="ea.name" v-for="ea in activeEvalAreas" type="flex" justify="space-between">
          <el-col :span="4">{{ ea.name }}</el-col>
          <el-col :span="12">
            <el-progress :percentage="ea.percent" :color="getColour(ea.percent)"></el-progress>
          </el-col>
          <el-col :span="6">{{ ea.complete }} out of {{ea.total }} activities complete</el-col>
        </el-row>
        <br><br><br>
        <h2 v-if="stageData.percent_complete < 100">Outstanding Activities</h2><br>
        <el-row v-if="stageData.percent_complete < 100">
          <el-col :span="8">
            <el-switch
              v-model="category"
              active-text="Evaluation Area"
              inactive-text="Activity Category"
              @change="activateData()"
            >
            </el-switch>
          </el-col>
        </el-row>
        <br><br>
        <el-tabs v-if="stageData.percent_complete < 100" type="border-card" tab-position="left">
          <el-tab-pane v-for="stageCat in outstanding_activities" :key="stageCat.name" :label="stageCat.name" :name="stageCat.name">
            <el-table
              ref="outstandingTable"
              :data="stageCat.outstanding"
              style="width: 100%">
              <el-table-column
                type="expand"
                icon="el-icon-info"
                header="iconFunction">
                <template slot="header">
                  <i class="el-icon-info">
                  </i>
                </template>
                <template slot-scope="props">
                  <p><i v-html="props.row.description"></i></p>
                </template>
              </el-table-column>
              <el-table-column
                property="name"
                label="Activity"
                show-overflow-tooltip>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
      </el-main>
    </div>
  </div>
</template>

<script>
import Stages from '@/components/Stages';
import colorMap from '@/utils/colour-pallete.js';

export default {
  data() {
    return {
      studyData: [],
      outstanding_activities: [],
      category: false,
      stageData: '',
      activeEvalAreas: '',
      activeNames: ''
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.stageData = this.$route.params.stage_data
    this.getActiveEvalAreas()
    this.activateData()
  },
  components: {
    Stages
  },
  methods: {
    getColour: colorMap.customColorMethod,
    goBack() {
      this.$router.push({ name: 'ChecklistOutput', params: { study_data: this.studyData }})
    },
    getActiveEvalAreas() {
      this.activeEvalAreas = this.stageData.evaluation_areas.filter(function (el) {
        if (el.total != 0) {
          return el
        }
      });
    },
    activateData () {
      if (this.category) {
        this.outstanding_activities = this.stageData.evaluation_areas.filter(function (el) {
          if (el.total != 0 && el.percent != 100) {
            return el
          }
        })
      } else  {
        this.outstanding_activities = this.stageData.activity_categories.filter(function (el) {
          if (el.total != 0 && el.percent != 100) {
            return el
          }
        })
      }
    }
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
