<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-header>
      <h1>Applicant Mode Output Page for {{ appStageGateData.stage_gate }}</h1>
      <br>
      <el-button
          icon="el-icon-arrow-left"
          @click="goBack()"
          data-cy-sg="goBackToAppInput">Go Back</el-button>
      <br><br><br>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <b>Stage Gate Study: </b> <span data-cy-sg="title">{{ studyData.name }}</span>
        </el-col>
        <el-col :span="8">
          <b>Description: </b> {{ studyData.description }}
        </el-col>
        <el-col :span="8">
          <b>Threshold settings: </b> {{ studyData.framework }}
        </el-col>
      </el-row>
    </el-header>
    <br><br><br><br><br><br><br>
    <div>
      <el-main>
        <el-row class="bg-white">
          <p>
            The Applicant Mode results are presented below.
            The <b>Response rate</b> reflects how many of the questions you have answered fully.
            The <b>Threshold success rate</b> is the number of metric thresholds that have passed, normalised with respect to the number of metrics that have had thresholds applied.
            The threshold success rate is only shown if metric thresholds have been set.
          </p>
          <p>
            The applicant's answers to the qualitative and quantitative questions are also given below.
            Where applicable, an indication of any metric thresholds that have passed or failed will be given.
          </p>
        </el-row>
        <br><br><br><br>
        <h2>Summary</h2>
          <el-row type="flex" justify="space-around">
            <el-col :span="4">Response rate (%)</el-col>
            <el-col :span="18">
              <el-progress :percentage="summaryData.response_rate" :color="getColour(summaryData.response_rate)"></el-progress>
            </el-col>
            <el-col :span="2"></el-col>
          </el-row>
          <br>
          <el-row v-if="checkThresholdSuccessRate()" type="flex" justify="space-around">
            <el-col :span="4">Threshold success rate (%)</el-col>
            <el-col :span="18">
              <el-progress :percentage="summaryData.threshold_success_rate" :color="getColour(summaryData.threshold_success_rate)"></el-progress>
            </el-col>
            <el-col :span="2"></el-col>
          </el-row>
        <br>
        <div v-if="appStageGateData.stage_gate !== 'Stage Gate 3 - 4' && appStageGateData.stage_gate !== 'Stage Gate 4 - 5'">
          <h2>Applicant Answers (qualitative questions)</h2>
          <el-tabs type="border-card" tab-position="left" >
              <el-tab-pane
                v-for="item in qualitativeQuestions"
                :key="item.id"
                :label="item.name"
                :name="item.name">
                <p v-html="item.description" v-if="item.description !== 'none'"></p>
                <el-collapse v-model="activeNames">
                  <el-collapse-item v-for="q in item.questions" :key="q.name" :name="q.name" :title="q.name">
                    <ul>
                      <li>
                        <p><b>Description:</b> <span v-html=q.description></span></p>
                      </li>
                      <li>
                        <span><b>Weighting (%):</b> {{ q.weighting }}</span>
                      </li>
                      <li>
                        <span><b>Scoring criteria:</b></span>
                        <ul :key="sc.id" v-for="sc in q.scoring_criteria">
                          <li>
                            <span>{{ sc.description }}</span>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <span><b>Response:</b> {{ q.applicant_results.response }}</span>
                      </li>
                    </ul>
                  </el-collapse-item>
                </el-collapse>
              </el-tab-pane>
          </el-tabs>
          <br>
        </div>
        <div v-if="appStageGateData.stage_gate !== 'Stage Gate 0 - 1'">
          <h2>Metric results (quantitative questions)</h2>
            <el-table
              v-loading="listLoading"
              :data="metricResults"
              element-loading-text="Loading"
              :row-class-name="tableRowClassName"
              fit>
              <el-table-column
                type="expand"
                label="View"
                width="100">
                <template slot="header">
                  <i class="el-icon-info">
                  </i>
                </template>
                <template slot-scope="props">
                  <ul>
                    <li>
                      <p><b>Metric description:</b> <span v-html=props.row.description></span></p>
                    </li>
                    <li>
                      <p><b>Result:</b> <span v-html=props.row.result></span></p>
                    </li>
                    <li>
                      <p><b>Justification:</b> <span v-html=props.row.justification></span></p>
                    </li>
                    <div v-if="isThresholdApplied(props.row)">
                      <li >
                        <p><span><b>Threshold:</b> {{ props.row.threshold }}</span></p>
                      </li>
                      <li >
                        <p><span><b>Threshold passed:</b> {{ returnThresholdPassed(props.row) }}</span></p>
                      </li>
                    </div>
                    <div v-if="isThresholdFailed(props.row)">
                      <li >
                        <p><span><b>Absolute distance:</b> {{ props.row.absolute_distance }}</span></p>
                      </li>
                      <li>
                        <p><span><b>Percentage distance:</b> {{ props.row.percent_distance }}</span></p>
                      </li>
                    </div>
                  </ul>
                </template>
              </el-table-column>
              <el-table-column
                prop="metric"
                label="Metric"
                width="300"
                show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="unit"
                label="Unit"
                width="180">
              </el-table-column>
              <el-table-column
                prop="evaluation_area"
                label="Evaluation Area"
                width="180"
                column-key="evaluation_area"
                :filters="this.evalAreas"
                :filter-method="filterHandler">
              </el-table-column>
              <el-table-column
                prop="threshold_type"
                label="Threshold type"
                width="140">
                <template
                  slot="header">
                  <el-popover
                    ref="fromPopOver1"
                    placement="top-start"
                    width="250"
                    trigger="hover">
                    <span>
                    Metric results pass if they are lower <br>
                    than 'upper' thresholds or greater <br>
                    than 'lower' thresholds
                    </span>
                  </el-popover>
                  <span>Threshold type <i
                    v-popover:fromPopOver1
                    class="el-icon-info"/>
                  </span>
                </template>
              </el-table-column>
              <el-table-column
                prop="threshold"
                label="Threshold"
                width="100">
              </el-table-column>
              <el-table-column
                prop="result"
                label="Result"
                width="100">
              </el-table-column>
              <el-table-column
                prop="threshold_passed"
                label="Pass/fail"
                width="120"
                sortable
                :formatter="passFailFormatter">
              </el-table-column>
              <el-table-column
                prop="absolute_distance"
                label="Absolute difference (units)"
                width="240">
                <template
                  slot="header">
                  <el-popover
                    ref="fromPopOver2"
                    placement="top-start"
                    width="250"
                    trigger="hover">
                    <span>
                    Absolute distance between the <br>
                    metric and the threshold, in the <br>
                    units of the metric
                    </span>
                  </el-popover>
                  <span>Absolute distance (units) <i
                    v-popover:fromPopOver2
                    class="el-icon-info"/>
                  </span>
                </template>
              </el-table-column>
              <el-table-column
                prop="percent_distance"
                sortable
                label="Percentage difference (%)">
                <template
                  slot="header">
                  <el-popover
                    ref="fromPopOver3"
                    placement="top-start"
                    width="250"
                    trigger="hover">
                    <span>
                    The absolute distance divided <br>
                    by the threshold and expressed <br>
                    as a percentage
                    </span>
                  </el-popover>
                  <span>Percentage distance (%) <i
                    v-popover:fromPopOver3
                    class="el-icon-info"/>
                  </span>
                </template>
              </el-table-column>
            </el-table>
        </div>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import colorMap from '@/utils/colour-pallete.js';

export default {
  data() {
    return {
      studyData: [],
      appStageGateData: [],
      listLoading: false,
      activeNames: [],
      applicantResults: {},
      summaryData: {},
      responses: {},
      metricResults: [],
      qualitativeQuestions: [],
      evalAreas: [
        {text: 'Acceptability', value: 'Acceptability'},
        {text: 'Installability', value: 'Installability'},
        {text: 'Availability', value: 'Availability'},
        {text: 'Maintainability', value: 'Maintainability'},
        {text: 'Reliability', value: 'Reliability'},
        {text: 'Survivability', value: 'Survivability'},
        {text: 'Affordability', value: 'Affordability'},
        {text: 'Manufacturability', value: 'Manufacturability'},
        {text: 'Power Capture', value: 'Power Capture'},
        {text: 'Power Conversion', value: 'Power Conversion'},
        {text: 'Controllability', value: 'Controllability'}
      ],
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.appStageGateData = this.$route.params.app_stage_gate_data
    this.getApplicantResults(this.appStageGateData.id)
  },
  methods: {
    getColour: colorMap.customColorMethod,
    goBack() {
      this.$router.push({ name: 'ApplicantHome', params: {study_data: this.studyData }})
    },
    getApplicantResults(appStageGateId) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${appStageGateId}/applicant-results`
      axios.get(path)
        .then((res) => {
          this.applicantResults = res.data
          this.summaryData = this.applicantResults.summary_data
          this.responses = this.applicantResults.responses
          this.metricResults = this.applicantResults.metric_results
          this.qualitativeQuestions = this.responses.question_categories.filter(q_cat => q_cat.questions.some(q => q.question_metric === null));
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
      this.listLoading = false
    },
    tableRowClassName({row, rowIndex}) {
      if (!row.threshold) {
        return '';
      } else if (row.threshold_passed) {
        return 'success-row';
      } else {
        return 'warning-row';
      }
    },
    passFailFormatter(row, column) {
      if (!row.threshold) {
        return '';
      } else if (row.threshold_passed) {
        return "PASS";
      } else {
        return "FAIL";
      }
    },
    isThresholdApplied(q) {
      if (q.threshold_bool) {
          return true;
      } else {
        return false;
      }
    },
    isThresholdFailed(q) {
      if (q.threshold_bool && !q.threshold_passed) {
        return true;
      } else {
        return false;
      }
    },
    returnThresholdPassed(q) {
      if (q.threshold_bool && q.threshold_passed) {
        return "Yes";
      } else {
        return "No";
      }
    },
    checkThresholdSuccessRate() {
      if (this.summaryData.threshold_success_rate == 0 || this.summaryData.threshold_success_rate) {
        return true;
      } else {
        return false;
      }
    },
    filterHandler(value, row, column) {
      const property = column['property'];
      return row[property] === value;
    }
  }
}
</script>

<style>
.chart-wrapper {
  width: 100%;
  height:700px;
}
.el-table .warning-row {
  background: rgb(219, 167, 153);
}

.el-table .success-row {
  background: #bedaaf;
}

.bg-white {
  background: white;
  border-radius: 4px;
  padding: 10px 20px;
}
</style>
