<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-header>
      <h1>Applicant Mode Input Page for {{ appStageGateData.stage_gate }}</h1>
      <br>
      <el-button
          icon="el-icon-arrow-left"
          @click="goBack()"
          data-cy-sg="goBackToAppHome">Go Back</el-button>
      <br><br><br>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <b>Stage Gate Study: </b> <span data-cy-sg="title">{{ studyData.name }}</span>
        </el-col>
        <el-col :span="8">
          <b>Description: </b> {{ studyData.description }}
        </el-col>
        <el-col :span="8">
          <b>Threshold settings: </b> {{ studyData.framework }}
        </el-col>
      </el-row>
    </el-header>
    <br><br><br><br><br><br><br>
    <div>
      <el-main>
        <el-row class="bg-white">
          <p>
            The questions required to be completed by the Applicant are presented below.
            Questions can be either <i>qualitative</i> or <i>quantitative</i>.
            Qualitative questions require a <b>Response</b>.
            Quantitative questions require a metric <b>Result</b> and a <b>Justification</b>.
          </p>
          <p>
            Note that Stage Gate 0 - 1 does not request any quantitative metrics and Stage Gates 3 -4 and 4 - 5 do not ask for any qualitative questions.
          </p>
        </el-row>
        <br><br><br><br>
        <el-row>
          <el-steps :space="400" :active="active" finish-status="success" align-center>
            <el-step title="Qualitative questions"></el-step>
            <el-step title="Quantitative questions"></el-step>
          </el-steps>
          <div v-if="active === 1">
              <br><br><br>
              <el-button type="default" style="margin-top: 12px;" @click="loadMetrics" :disabled="appStageGateData.stage_gate === 'Stage Gate 0 - 1'">Use results from Deployment and Assessment modules</el-button>
              <!-- <el-button type="default" style="margin-top: 12px;" @click="navigateSc">Start new analysis using Deployment and Assessment modules</el-button> -->
          </div>
        </el-row>
        <div v-if="active === 0">
          <br><br><br>
          <el-row v-if="appStageGateData.stage_gate === 'Stage Gate 3 - 4' || appStageGateData.stage_gate === 'Stage Gate 4 - 5'" class="bg-white">
            <p>{{ appStageGateData.stage_gate }} does not have any Qualitative Questions.</p>
          </el-row>
          <el-tabs type="border-card" tab-position="left" v-else>
            <el-tab-pane
              v-for="item in qualitativeQuestions"
              :key="item.id"
              :label="item.name"
              :name="item.name">
              <p v-html="item.description" v-if="item.description !== 'none'"></p>
              <el-collapse v-model="activeNames">
                <el-collapse-item v-for="q in item.questions" :key="q.name" :name="q.name" :title="q.name">
                  <ul>
                    <li>
                      <p><b>Description:</b> <span v-html=q.description></span></p>
                    </li>
                    <li>
                      <span><b>Weighting (%):</b> {{ q.weighting }}</span>
                    </li>
                    <li>
                      <span><b>Scoring criteria:</b></span>
                      <ul :key="sc.id" v-for="sc in q.scoring_criteria">
                        <li>
                          <span>{{ sc.description }}</span>
                        </li>
                      </ul>
                    </li>
                    <br>
                    <el-form>
                      <el-form-item label="Response">
                        <el-input
                          v-model="q.applicant_answers.response"
                          autocomplete="off"
                          type="textarea"
                          placeholder="Please input your response and justification to the question"
                          maxlength="5000"
                          show-word-limit
                          :autosize="{ minRows: 2 }"
                          ></el-input>
                      </el-form-item>
                    </el-form>
                  </ul>
                </el-collapse-item>
              </el-collapse>
            </el-tab-pane>
          </el-tabs>
        </div>
        <div v-if="active === 1">
          <br><br><br>
          <el-row v-if="appStageGateData.stage_gate === 'Stage Gate 0 - 1'" class="bg-white">
            <p>{{ appStageGateData.stage_gate }} does not have any Quantitative Questions.</p>
          </el-row>
          <el-table
            ref="filterTable"
            :data="quantitativeQuestions"
            style="width: 100%"
            v-else>
            <el-table-column
              type="expand"
              label="View/Edit"
              width="100">
              <template slot-scope="props">
                <el-form>
                  <el-form-item label="Metric description">
                    <br>
                    <div v-html="props.row.description"></div>
                  </el-form-item>
                  <el-form-item label="Result">
                    <el-input-number
                      v-model="props.row.result"></el-input-number>
                  </el-form-item>
                  <el-form-item label="Justification">
                    <el-input
                      autocomplete="off"
                      type="textarea"
                      placeholder="Please input justification and assumptions for the metric result provided above"
                      v-model="props.row.justification"
                      maxlength="5000"
                      show-word-limit
                      :autosize="{ minRows: 2 }"
                      ></el-input>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column
              prop="metric"
              label="Metric"
              width="450">
            </el-table-column>
            <el-table-column
              prop="unit"
              label="Unit"
              width="180">
            </el-table-column>
            <el-table-column
              prop="evaluation_area"
              label="Evaluation Area"
              width="180"
              column-key="evaluation_area"
              :filters="this.evalAreas"
              :filter-method="filterHandler">
            </el-table-column>
            <el-table-column
              prop="weighting"
              label="Weighting (%)"
              width="180">
            </el-table-column>
            <el-table-column
              prop="threshold_type"
              label="Threshold type"
              width="140">
              <template
                slot="header">
                <el-popover
                  ref="fromPopOver1"
                  placement="top-start"
                  width="250"
                  trigger="hover">
                  <span>
                  Metric results pass if they are lower <br>
                  than 'upper' thresholds or greater <br>
                  than 'lower' thresholds
                  </span>
                </el-popover>
                <span>Threshold type <i
                  v-popover:fromPopOver1
                  class="el-icon-info"/>
                </span>
              </template>
            </el-table-column>
            <el-table-column
              prop="threshold"
              label="Threshold"
              width="100">
            </el-table-column>
            <el-table-column
              prop="result"
              label="Result">
            </el-table-column>
          </el-table>
        </div>
        <br><br><br>
        <h3>Live progress</h3>
        <el-row>
          <el-col :span="4">
            Stage Gate
          </el-col>
          <el-col :span="12">
            <el-progress :percentage="totalProgress" :color="getColour(totalProgress)"></el-progress>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            Qualitative questions
          </el-col>
          <el-col :span="12">
            <el-progress :percentage="qualitativeProgress" :color="getColour(qualitativeProgress)"></el-progress>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            Quantitative questions
          </el-col>
          <el-col :span="12">
            <el-progress :percentage="quantitativeProgress" :color="getColour(quantitativeProgress)"></el-progress>
          </el-col>
        </el-row>
        <br><br><br>
        <div>
          <el-row type="flex" justify="center">
            <el-col :span="6">
              <el-button
                type='primary'
                @click="onSaveApplicantInputs()"
                data-cy-sg="saveApplicantInputs">Save</el-button>
            </el-col>
            <el-col :span="6" v-if="active === 0">
              <el-button
                @click="next"
                data-cy-sg="applicantNextBtn">Next</el-button>
            </el-col>
            <el-col :span="6" v-if="active === 1">
              <el-button
                @click="back"
                data-cy-sg="applicantBackBtn">Back</el-button>
            </el-col>
            <el-col :span="6">
              <el-button
                type="success"
                @click="onSubmitApplicantInputs()"
                data-cy-sg="submitApplicantInputs">Submit</el-button>
            </el-col>
          </el-row>
        </div>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import colorMap from '@/utils/colour-pallete.js'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/dtop/dtopConsts"

export default {
  data() {
    return {
      studyData: [],
      appStageGateData: [],
      activeNames: [],
      question_cat_idx: 0,
      applicantAnswers: [],
      saveAnswerMessage: '',
      active: 0,
      qualitativeQuestions: [],
      qualitativeCount: null,
      quantitativeQuestions: [],
      quantitativeCount: null,
      evalAreas: [
        {text: 'Acceptability', value: 'Acceptability'},
        {text: 'Installability', value: 'Installability'},
        {text: 'Availability', value: 'Availability'},
        {text: 'Maintainability', value: 'Maintainability'},
        {text: 'Reliability', value: 'Reliability'},
        {text: 'Survivability', value: 'Survivability'},
        {text: 'Affordability', value: 'Affordability'},
        {text: 'Manufacturability', value: 'Manufacturability'},
        {text: 'Power Capture', value: 'Power Capture'},
        {text: 'Power Conversion', value: 'Power Conversion'},
        {text: 'Controllability', value: 'Controllability'}
      ],
      entityList: [],
      metricStatus: {}
    }
  },
  created() {
    this.studyData = this.$route.params.study_data;
    this.appStageGateData = this.$route.params.app_stage_gate;
    this.getApplicantAnswers(this.appStageGateData.id);
    this.getProjectStructure();
  },
  methods: {
    getColour: colorMap.customColorMethod,
    goBack() {
      this.$router.push({ name: 'ApplicantHome', params: {study_data: this.studyData }})
    },
    next() {
      this.saveApplicantInputs();
      this.active = 1;
    },
    back() {
      this.saveApplicantInputs();
      this.active = 0;
    },
    async getApplicantAnswers(appStageGateId) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${appStageGateId}/applicant-answers`
      let response = null
      try {
        response = await axios.get(path)
        this.applicantAnswers = response.data;
        this.extractQuestionData();
      } catch (error) {
        console.log(error)
      }
    },
    extractQuestionData() {
      this.qualitativeQuestions = this.applicantAnswers.question_categories.filter(q_cat => q_cat.questions.some(q => q.question_metric === null));
      this.quantitativeQuestions = this.applicantAnswers.question_categories
        .filter(q_cat => q_cat.questions.some(q => q.question_metric !== null))
        .map(q_cat => q_cat.questions.map(q => Object({
          applicant_id: q.applicant_answers.id,
          metric: q.question_metric.metric.name,
          unit: q.question_metric.metric.unit,
          threshold_type: q.question_metric.metric.threshold_type,
          threshold: q.question_metric.threshold,
          threshold_bool: q.question_metric.threshold_bool,
          weighting: q.weighting,
          evaluation_area: q.question_metric.metric.evaluation_area.name,
          result: q.applicant_answers.result,
          justification: q.applicant_answers.justification,
          description: q.description
        }))).flat();
      this.qualitativeCount = this.qualitativeQuestions.map(q_cat => q_cat.questions.length).reduce((a,b) => a + b, 0);
      this.quantitativeCount = this.quantitativeQuestions.length;
    },
    onSaveApplicantInputs() {
      this.saveApplicantInputs()
      this.$message({
        message: "Applicant responses have been saved",
        type: "success"
      })
    },
    saveApplicantInputs() {
      const payload = this.getApplicantAnswerPayload()
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${this.appStageGateData.id}/applicant-answers`
      axios.put(path, payload)
        .then(() => {
          // console.log(payload)
          // console.log(path)
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.log(error);
        })
    },
    getApplicantAnswerPayload() {
      let qual = this.qualitativeQuestions.map(q_cat => q_cat.questions.map(q => q.applicant_answers));
      let quant = this.quantitativeQuestions.map(metric => Object({
        id: metric.applicant_id,
        justification: metric.justification,
        result: metric.result,
        response: null
      }));
      let result = qual.concat(quant);
      console.log(result.flat())
      return result.flat()
    },
    onSubmitApplicantInputs() {
      this.saveApplicantInputs()
      this.openApplicantOutputs()
    },
    handleChange(value) {
      // console.log(value)
    },
    openApplicantOutputs() {
      this.updateApplicantStudyStatus()
      this.$router.push({ name: 'ApplicantOutput', params: {study_data: this.studyData, app_stage_gate_data: this.appStageGateData }})
    },
    updateApplicantStudyStatus() {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${this.appStageGateData.id}/applicant-status`
      axios.put(path)
        .then(() => {
          // console.log(path)
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.log(error);
        })
    },
    filterHandler(value, row, column) {
      const property = column['property'];
      return row[property] === value;
    },
    getProjectStructure() {
      // Get list of entities from other modules that are registered for the same project, filter by the first study ID registered to current SG entity
      // Entity list is created when page is created
      const path = `${DTOP_PROTOCOL}mm.${DTOP_DOMAIN}/api/integration/modules/sg/entities/${this.studyData.id}`;
      console.log(path);
      axios
        .get(path)
        .then(res => {
          // TODO: Also filter for status == 100 ??
          console.log('RES', res);
          let study = res.data.filter((s) => {return s.moduleId==13});  // Get SG item, id = 13
          console.log('STUDY', study);
          this.entityList = res.data.filter((e) => {return e.studyId==study[0].studyId});  // Filter the entities for those matching the study ID used in SG module
          console.log('ENTITY LIST', this.entityList)
        })
        .catch(error => {
          console.error('ERROR', error.response);
        });
    },
    async loadMetrics() {
      // Start loading screen
      const loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        });
      setTimeout(() => {
        loading.close();
      }, 10000);
      // Send entity list to back-end to start procedure of reading metrics from D&A tools
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${this.appStageGateData.id}/applicant-answers-integrated`
      await axios.put(path, this.entityList)
        .then((res) => {
          console.log('JSON response', res);
          this.metricStatus = res.data;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error.response)
        });
      // Refresh metric results for display in GUI
      await this.getApplicantAnswers(this.appStageGateData.id);
      // Close loading screen
      loading.close();
      // Print success message
      this.$message({
        message: "Metrics loaded successfully",
        type: 'success'
      });
    },
    navigateSc() {
      this.$message({
        message: 'This will re-direct the user to the start of a new integrated assessment',
        type: 'success'
      });
    }
  },
  computed: {
    numQualitativeAnswered() {
      return this.qualitativeQuestions.map(q_cat => q_cat.questions.filter(q => q.applicant_answers.response !== null).length).reduce((a,b) => a + b, 0);
    },
    qualitativeProgress() {
      if (this.qualitativeCount === null) {
        return 0
      }
      return Math.round(100 * this.numQualitativeAnswered / this.qualitativeCount);
    },
    numQuantitativeAnswered() {
      return this.quantitativeQuestions.filter(aa => (aa.result !== null) && (aa.result !== 0) && (aa.justification !== null)).length;
    },
    quantitativeProgress() {
      if (this.quantitativeCount === null) {
        return 0
      }
      return Math.round(100 * this.numQuantitativeAnswered / this.quantitativeCount);
    },
    totalProgress() {
      if ((this.quantitativeCount === null) || (this.qualitativeCount === null)) {
        return 0
      }
      return Math.round(100 * (this.numQualitativeAnswered + this.numQuantitativeAnswered) / (this.qualitativeCount + this.quantitativeCount));
    }
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
