<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-header>
      <h1>Assessor Mode Input Page for {{ appStageGateData.stage_gate }}</h1>
      <br>
      <el-button
          icon="el-icon-arrow-left"
          @click="goBack()"
          data-cy-sg="goBackToAppHome">Go Back</el-button>
      <br><br><br>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <b>Stage Gate Study: </b> <span data-cy-sg="title">{{ studyData.name }}</span>
        </el-col>
        <el-col :span="8">
          <b>Description: </b> {{ studyData.description }}
        </el-col>
        <el-col :span="8">
          <b>Threshold settings: </b> {{ studyData.framework }}
        </el-col>
      </el-row>
    </el-header>
    <br><br><br><br><br><br><br>
    <div>
      <el-main>
        <el-row class="bg-white">
          <p>
            Please work through the questions below, providing an assessor score and assessor comments for each answer.
            The assessor scores use a 5-point scale (from 0 - 4), you can view the full explanation of the rubric by clicking the button below.
            Qualitative questions and quantitative questions are shown on separate pages.
            Use the <b>Next</b> and <b>Back</b> buttons to navigate between the two sets.
          </p>
          <p>
            Note that Stage Gate 0 - 1 does not contain any quantitative metrics and Stage Gates 3 -4 and 4 - 5 do not contain any qualitative questions.
          </p>
        </el-row>
        <br>
        <el-button
          @click="setRubricVisible()">View Rubric
        </el-button>
        <br><br><br>
        <el-row>
          <el-steps :space="400" :active="active" finish-status="success" align-center>
            <el-step title="Qualitative questions"></el-step>
            <el-step title="Quantitative questions"></el-step>
          </el-steps>
        </el-row>
        <div v-if="active === 0">
          <br><br><br>
          <el-row v-if="appStageGateData.stage_gate === 'Stage Gate 3 - 4' || appStageGateData.stage_gate === 'Stage Gate 4 - 5'" class="bg-white">
            <p>{{ appStageGateData.stage_gate }} does not have any Qualitative Questions.</p>
          </el-row>
          <el-tabs type="border-card" tab-position="left" v-else>
            <el-tab-pane
              v-for="item in qualitativeQuestions"
              :key="item.id"
              :label="item.name"
              :name="item.name">
              <p v-html="item.description" v-if="item.description !== 'none'"></p>
              <el-collapse v-model="activeNames">
                <el-collapse-item v-for="q in item.questions" :key="q.name" :name="q.name" :title="q.name">
                  <ul>
                    <li>
                      <p><b>Description:</b> <span v-html=q.description></span></p>
                    </li>
                    <li>
                      <span><b>Weighting (%):</b> {{ q.weighting }}</span>
                    </li>
                    <li>
                      <span><b>Response:</b> {{ q.applicant_results.response }}</span>
                    </li>
                    <br>
                    <el-form>
                      <el-form-item label="Assessor comments"></el-form-item>
                      <el-form-item v-for="sc in q.scoring_criteria" :key="sc.id" :title="sc.name" :name="sc.id">
                        <i>{{ sc.description }}</i>
                        <el-input
                          v-model="sc.comment.comment"
                          autocomplete="off"
                          type="textarea"
                          placeholder="Optional assessor comments on each scoring criterion"
                          :data-cy-sg="`formAssessorComment${sc.id}`"
                          maxlength="1500"
                          show-word-limit
                          :autosize="{ minRows: 2 }"
                          ></el-input>
                      </el-form-item>
                      <el-form-item label="Assessor score"><br>
                        <el-select
                          v-model="q.score.score"
                          placeholder="Select"
                          :data-cy-sg="`formAssessorScore${q.id}`">
                          <el-option
                            v-for="item in options"
                            :key="item.id"
                            :label="item.score"
                            :value="item.score"
                            :data-cy-sg="`assessorScoreOption${q.id}-${item.id}`">
                          </el-option>
                        </el-select>
                        <el-button icon="el-icon-info" type="text" @click="setRubricVisible()">{{ empty }}</el-button>
                      </el-form-item>
                    </el-form>
                  </ul>
                </el-collapse-item>
              </el-collapse>
            </el-tab-pane>
          </el-tabs>
        </div>
        <div v-if="active === 1">
          <br><br><br>
          <el-row v-if="appStageGateData.stage_gate === 'Stage Gate 0 - 1'" class="bg-white">
            <p>{{ appStageGateData.stage_gate }} does not have any Quantitative Questions.</p>
          </el-row>
          <el-table
            ref="filterTable"
            :data="quantitativeQuestions"
            style="width: 100%"
            v-else>
            <el-table-column
              type="expand"
              label="View/Edit"
              width="100">
              <template slot-scope="props">
                <ul>
                  <li>
                    <p><b>Metric description:</b> <span v-html=props.row.description></span></p>
                  </li>
                  <li>
                    <p><b>Result:</b> <span v-html=props.row.result></span></p>
                  </li>
                  <li>
                    <p><b>Justification:</b> <span v-html=props.row.justification></span></p>
                  </li>
                  <div v-if="isThresholdApplied(props.row)">
                    <li >
                      <p><span><b>Threshold:</b> {{ props.row.threshold }}</span></p>
                    </li>
                    <li >
                      <p><span><b>Threshold passed:</b> {{ returnThresholdPassed(props.row) }}</span></p>
                    </li>
                  </div>
                  <div v-if="isThresholdFailed(props.row)">
                    <li >
                      <p><span><b>Absolute distance:</b> {{ props.row.absolute_distance }}</span></p>
                    </li>
                    <li>
                      <p><span><b>Percentage distance:</b> {{ props.row.percent_distance }}</span></p>
                    </li>
                  </div>
                </ul>
                <el-form>
                  <el-form-item label="Assessor comments"></el-form-item>
                  <el-form-item v-for="sc in props.row.scoring_criteria" :key="sc.id" :title="sc.name" :name="sc.id">
                    <i>{{ sc.description }}</i>
                    <el-input
                      v-model="sc.comment.comment"
                      autocomplete="off"
                      type="textarea"
                      placeholder="Optional assessor comments on each scoring criterion"
                      :data-cy-sg="`formAssessorComment${sc.id}`"
                      maxlength="1500"
                      show-word-limit
                      :autosize="{ minRows: 2 }"
                      ></el-input>
                  </el-form-item>
                  <el-form-item label="Assessor score"><br>
                    <el-select
                      v-model="props.row.score.score"
                      placeholder="Select"
                      :data-cy-sg="`formAssessorScore${props.row.applicant_id}`">
                      <el-option
                        v-for="item in options"
                        :key="item.id"
                        :label="item.score"
                        :value="item.score"
                        :data-cy-sg="`assessorScoreOption${props.row.applicant_id}-${item.id}`">
                      </el-option>
                    </el-select>
                    <el-button icon="el-icon-info" type="text" @click="setRubricVisible()">{{ empty }}</el-button>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column
              prop="metric"
              label="Metric"
              width="450">
            </el-table-column>
            <el-table-column
              prop="unit"
              label="Unit"
              width="180">
            </el-table-column>
            <el-table-column
              prop="evaluation_area"
              label="Evaluation Area"
              width="180"
              column-key="evaluation_area"
              :filters="this.evalAreas"
              :filter-method="filterHandler">
            </el-table-column>
            <el-table-column
              prop="weighting"
              label="Weighting (%)"
              width="180">
            </el-table-column>
            <el-table-column
              prop="threshold_type"
              label="Threshold type"
              width="140">
              <template
                slot="header">
                <el-popover
                  ref="fromPopOver1"
                  placement="top-start"
                  width="250"
                  trigger="hover">
                  <span>
                  Metric results pass if they are lower <br>
                  than 'upper' thresholds or greater <br>
                  than 'lower' thresholds
                  </span>
                </el-popover>
                <span>Threshold type <i
                  v-popover:fromPopOver1
                  class="el-icon-info"/>
                </span>
              </template>
            </el-table-column>
            <el-table-column
              prop="threshold"
              label="Threshold"
              width="100">
            </el-table-column>
            <el-table-column
              prop="result"
              label="Result">
            </el-table-column>
          </el-table>
        </div>
        <br><br><br>
        <h3>Live progress</h3>
        <el-row>
          <el-col :span="4">
            Stage Gate
          </el-col>
          <el-col :span="12">
            <el-progress :percentage="totalProgress" :color="getColour(totalProgress)"></el-progress>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            Qualitative questions
          </el-col>
          <el-col :span="12">
            <el-progress :percentage="qualitativeProgress" :color="getColour(qualitativeProgress)"></el-progress>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            Quantitative questions
          </el-col>
          <el-col :span="12">
            <el-progress :percentage="quantitativeProgress" :color="getColour(quantitativeProgress)"></el-progress>
          </el-col>
        </el-row>
        <br><br><br>
        <div>
          <el-row type="flex" justify="center">
            <el-col :span="6">
              <el-button
                type='primary'
                @click="onSaveAssessorScores()">Save</el-button>
            </el-col>
            <el-col :span="6" v-if="active === 0">
              <el-button
                @click="next"
                data-cy-sg="assessorNextBtn">Next</el-button>
            </el-col>
            <el-col :span="6" v-if="active === 1">
              <el-button
                @click="back"
                data-cy-sg="assessorBackBtn">Back</el-button>
            </el-col>
            <el-col :span="6">
              <el-button
                type="success"
                @click="checkAssessorInputPayload()">Submit</el-button>
            </el-col>
          </el-row>
        </div>
        <el-dialog title="Assessor Scores are not complete" :visible.sync="defaultScoreDialogVisible">
          <span>The Assessor Scores for some of the answers have not been filled. Do you want to assign a default score of 2 to these answers?</span><br><br>
          <span>Clicking 'Yes' will submit these scores and take you to the results page.</span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="onCancel">No</el-button>
            <el-button type="warning" @click="onFillScores" data-cy-sg="confirmAutofillScoreBtn">Yes</el-button>
          </span>
        </el-dialog>
      </el-main>
      <el-dialog title="Assessment Rubric" :visible.sync="rubricVisible" style="width: 100%">
        <el-table :data="rubricData">
          <el-table-column
            prop="score"
            label="Score"
            width="100">
          </el-table-column>
          <el-table-column
            prop="label"
            label="Label"
            width="200">
          </el-table-column>
          <el-table-column
            prop="description"
            label="Description">
          </el-table-column>
        </el-table>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import colorMap from '@/utils/colour-pallete.js'

export default {
  data() {
    return {
      studyData: [],
      score_list: [],
      appStageGateData: [],
      activeNames: [],
      assessorScores: {},
      options: [{
        id: 1,
        score: '0'
      }, {
        id: 2,
        score: '1'
      }, {
        id: 3,
        score: '2'
      }, {
        id: 4,
        score: '3'
      }, {
        id: 5,
        score: '4'
      }],
      value: '',
      active: 0,
      defaultScoreDialogVisible: false,
      rubricData: [
        {
          "score": 0,
          "label": "Unacceptable",
          "description": "Nil or inadequate response which fails to demonstrate an ability to meet the requirement."
        },
        {
          "score": 1,
          "label": "Poor",
          "description": "Response is partially relevant but generally poor. It addresses some elements of the requirements but contains insufficient/limited detail or explanation to demonstrate how the requirement will be fulfilled."
        },
        {
          "score": 2,
          "label": "Acceptable",
          "description": "Response is relevant and acceptable. It addresses a broad understanding of the requirement but may lack details on how the requirement will be fulfilled in certain areas."
        },
        {
          "score": 3,
          "label": "Good",
          "description": "Response is relevant and good. It is sufficiently detailed to demonstrate a good understanding and provides details on how the requirements will be fulfilled."
        },
        {
          "score": 4,
          "label": "Excellent",
          "description": "Response is completely relevant and excellent overall. It is comprehensive, unambiguous and demonstrates a thorough understanding of the requirement and provides details of how the requirement will be met in full."
        }
      ],
      evalAreas: [
        {text: 'Acceptability', value: 'Acceptability'},
        {text: 'Installability', value: 'Installability'},
        {text: 'Availability', value: 'Availability'},
        {text: 'Maintainability', value: 'Maintainability'},
        {text: 'Reliability', value: 'Reliability'},
        {text: 'Survivability', value: 'Survivability'},
        {text: 'Affordability', value: 'Affordability'},
        {text: 'Manufacturability', value: 'Manufacturability'},
        {text: 'Power Capture', value: 'Power Capture'},
        {text: 'Power Conversion', value: 'Power Conversion'},
        {text: 'Controllability', value: 'Controllability'}
      ],
      rubricVisible: false,
      empty: "",
      qualitativeQuestions: [],
      qualitativeCount: null,
      quantitativeQuestions: [],
      quantitativeCount: null,
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.appStageGateData = this.$route.params.app_stage_gate
    this.getAssessorScores(this.appStageGateData.id)
  },
  methods: {
    getColour: colorMap.customColorMethod,
    goBack() {
      this.$router.push({ name: 'AssessorHome', params: {study_data: this.studyData }})
    },
    next() {
      this.saveAssessorScores();
      this.active = 1;
    },
    back() {
      this.saveAssessorScores();
      this.active = 0;
    },
    getAssessorScores(appStageGateId) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${appStageGateId}/assessor-scores`
      axios.get(path)
        .then((res) => {
          this.assessorScores = res.data;
          this.score_list = this.assessorScores.question_categories.map(q_cat => q_cat.questions.map(q => q.score)).flat();
          this.separateQuestionData();
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    separateQuestionData() {
      this.qualitativeQuestions = this.assessorScores.question_categories.filter(q_cat => q_cat.questions.some(q => q.question_metric === null));
      this.quantitativeQuestions = this.assessorScores.question_categories
        .filter(q_cat => q_cat.questions.some(q => q.question_metric !== null))
        .map(q_cat => q_cat.questions.map(q => Object({
          applicant_id: q.applicant_results.id,
          metric: q.question_metric.metric.name,
          unit: q.question_metric.metric.unit,
          threshold_type: q.question_metric.metric.threshold_type,
          threshold: q.question_metric.threshold,
          threshold_bool: q.question_metric.threshold_bool,
          threshold_passed: q.applicant_results.threshold_passed,
          weighting: q.weighting,
          evaluation_area: q.question_metric.metric.evaluation_area.name,
          result: q.applicant_results.result,
          justification: q.applicant_results.justification,
          absolute_distance: q.applicant_results.absolute_distance,
          percent_distance: q.applicant_results.percent_distance,
          scoring_criteria: q.scoring_criteria,
          score: q.score,
          description: q.description
        }))).flat();
      this.qualitativeCount = this.qualitativeQuestions.map(q_cat => q_cat.questions.length).reduce((a,b) => a + b, 0);
      this.quantitativeCount = this.quantitativeQuestions.length;
    },
    isThresholdApplied(q) {
      if (q.threshold_bool) {
          return true;
      } else {
        return false;
      }
    },
    isThresholdFailed(q) {
      if (q.threshold_bool && !q.threshold_passed) {
        return true;
      } else {
        return false;
      }
    },
    returnThresholdPassed(q) {
      if (q.threshold_bool && q.threshold_passed) {
        return "Yes";
      } else {
        return "No";
      }
    },
    getAssessorScoresPayload() {
      var scores = this.assessorScores.question_categories.map(q_cat => q_cat.questions.map(q => q.score));
      var comments = this.assessorScores.question_categories.map(q_cat => q_cat.questions.map(q => q.scoring_criteria.map(sc => sc.comment)));
      var scores_and_comments = {
        assessor_scores: scores.flat(),
        assessor_comments: comments.flat().flat()
      }
      return scores_and_comments
    },
    checkAssessorInputPayload() {
      if (this.checkEmptyScores()) {
        this.defaultScoreDialogVisible = true
      } else {
        this.onSubmitAssessorScores()
      }
    },
    checkEmptyScores() {
      var e = this.score_list.some(
        function(i) {
            return i['score'] === null;
        });
      if (e) {
        return true;
      } else {
        return false;
      }
    },
    onCancel() {
      this.defaultScoreDialogVisible = false
    },
    onFillScores() {
      for (const obj of this.score_list) {
        if (obj.score === undefined || obj.score === null) {
          obj.score = "2";
        }
      }
      this.onSubmitAssessorScores()
    },
    onSaveAssessorScores() {
      this.saveAssessorScores()
      this.$message({
        message: "Assessor scores have been saved",
        type: "success"
      })
    },
    saveAssessorScores() {
      const payload = this.getAssessorScoresPayload();
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${this.appStageGateData.id}/assessor-scores`
      axios.put(path, payload)
        .then(() => {
          // console.log(payload)
          // console.log(path)
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.log(error);
        })
    },
    onSubmitAssessorScores() {
      this.saveAssessorScores()
      this.openAssessorOutputs()
    },
    handleChange(value) {
      // console.log(value)
    },
    filterHandler(value, row, column) {
      const property = column['property'];
      return row[property] === value;
    },
    openAssessorOutputs() {
      this.updateAssessorStudyStatus()
      this.$router.push({ name: 'AssessorOutput', params: {study_data: this.studyData, app_stage_gate_data: this.appStageGateData }})
    },
    updateAssessorStudyStatus() {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${this.appStageGateData.id}/assessor-status`
      axios.put(path)
        .then(() => {
          // console.log(path)
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.log(error);
        })
    },
    setRubricVisible() {
      this.rubricVisible = true;
    }
  },
  computed: {
    numQualitativeMarked() {
      return this.qualitativeQuestions.map(q_cat => q_cat.questions.filter(q => q.score.score !== null).length).reduce((a,b) => a + b, 0);
    },
    qualitativeProgress() {
      if (this.qualitativeCount === null) {
        return 0
      }
      return Math.round(100 * this.numQualitativeMarked / this.qualitativeCount);
    },
    numQuantitativeMarked() {
      return this.quantitativeQuestions.filter(aa => aa.score.score !== null).length;
    },
    quantitativeProgress() {
      if (this.quantitativeCount === null) {
        return 0
      }
      return Math.round(100 * this.numQuantitativeMarked / this.quantitativeCount);
    },
    totalProgress() {
      if ((this.quantitativeCount === null) || (this.qualitativeCount === null)) {
        return 0
      }
      return Math.round(100 * (this.numQualitativeMarked + this.numQuantitativeMarked) / (this.qualitativeCount + this.quantitativeCount));
    }
  }
}
</script>

<style>
  .el-table .cell {
      word-break: break-word;
  }
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
