<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <h3>Select Stage Gate</h3>
    <el-row class="bg-white">
      <p>The Assessor Mode results for a single Stage Gate can be compared.</p>
      <p>Please select the desired Stage Gate from the list below:</p>
    </el-row>
      <el-row>
        <el-col :span="24">
          <el-select
          v-model="chosenStageGateId"
          placeholder="Please select Stage Gate"
          @change="onSelectStageGate(chosenStageGateId)"
          data-cy-sg="selectStageGateAss">
            <el-option
              v-for="sg in stageGates"
              :key="sg.id"
              :label="sg.name"
              :value="sg.id"
              :data-cy-sg="`selectStageGateAss${sg.id}`">
            </el-option>
          </el-select>
        </el-col>
      </el-row>
    <h3>Summary</h3>
      <grouped-bar-chart
        :bar_chart_data="summaryData"
        :xAxisProps="xAxisProps"
        figureTitle="Overall score">
      </grouped-bar-chart>
    <div v-if="chosenStageGateId !== 3 && chosenStageGateId !== 4">
      <h3>Question Categories</h3>
        <el-row>
          <grouped-bar-chart
            :bar_chart_data="questionCategories.weighted_average"
            :xAxisProps="xAxisProps"
            figureTitle="Weighted average">
          </grouped-bar-chart>
        </el-row>
        <el-row>
          <grouped-bar-chart
            :bar_chart_data="questionCategories.average"
            :xAxisProps="xAxisProps"
            figureTitle="Average">
          </grouped-bar-chart>
        </el-row>
    </div>
    <div v-if="chosenStageGateId !== 0">
      <h3>Evaluation Areas</h3>
        <el-row>
          <grouped-bar-chart
            :bar_chart_data="evaluationAreas.weighted_average"
            :xAxisProps="xAxisProps"
            figureTitle="Weighted average">
          </grouped-bar-chart>
        </el-row>
        <el-row>
          <grouped-bar-chart
            :bar_chart_data="evaluationAreas.average"
            :xAxisProps="xAxisProps"
            figureTitle="Average">
          </grouped-bar-chart>
        </el-row>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import GroupedBarChart from '@/components/GroupedBarChart'

const animationDuration = 3000
export default {
  components:{
    GroupedBarChart
  },
  props: [
    'sgStudies'
  ],
  data() {
    return {
      chosenStageGateId: '',
      stageGates: [
        {
          "id": 0,
          "name": "Stage Gate 0 - 1"
        },
        {
          "id": 1,
          "name": "Stage Gate 1 - 2"
        },
        {
          "id": 2,
          "name": "Stage Gate 2 - 3"
        },
        {
          "id": 3,
          "name": "Stage Gate 3 - 4"
        },
        {
          "id": 4,
          "name": "Stage Gate 4 - 5"
        }
      ],
      summaryData: [],
      questionCategories: [],
      evaluationAreas: [],
      xAxisProps: {
        tickmode: 'array',
        tickvals: [0, 1, 2, 3, 4],
        ticktext: ['Unacceptable', 'Poor', 'Acceptable', 'Good', 'Excellent'],
        range: [-0.2, 4.2],
        title: "Assessor score"
      }
    }
  },
  computed: {
    queryString() {
      if (this.chosenStageGateId === '') {
        return "none"
      } else {
        const idx = this.chosenStageGateId;
        var sgAppIds = this.sgStudies.map(function(s) {
          return s.stage_gate_assessment[idx];
        })
        return sgAppIds.join("&id=")
      }
    }
  },
  methods: {
    onSelectStageGate(sgId) {
      this.getAssessorComparison()
    },
    getAssessorComparison() {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/assessor-comparison?id\=${this.queryString}`
      axios.get(path)
        .then((res) => {
          this.summaryData = res.data.summary_data
          this.questionCategories = res.data.question_categories
          this.evaluationAreas = res.data.evaluation_areas
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    }
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
