<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-header>
      <h1>Stage Gate Study Home Page</h1>
      <br>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <b>Stage Gate Study: </b> <span data-cy-sg="title">{{ studyData.name }}</span>
        </el-col>
        <el-col :span="8">
          <b>Description: </b> {{ studyData.description }}
        </el-col>
        <el-col :span="8">
          <b>Threshold settings: </b> {{ studyData.framework }}
        </el-col>
      </el-row>
    </el-header>
    <br><br><br><br>
    <el-main>
      <el-row class="bg-white">
        <p>
          This is the home page for a Stage Gate study.
          Below you will see a list of buttons for the main features of the tool.
          Note that the <b>Improvement Areas</b> and <b>Report Export</b> features are only available after the <b>Activity Checklist</b> has been performed.
        </p>
      </el-row>
      <br>
      <ul>
        <li>
          Activity Checklist
        </li>
        <ul>
          <el-button type="text" @click="openChecklist()" data-cy-sg="performLink"><u>Perform</u></el-button>
          <el-button type="text" @click="openChecklistResults()" :disabled="!studyData.checklist_study_complete" data-cy-sg="checklistResults"><u>View Results</u></el-button>
        </ul>
        <br>
        <li>
          Stage Gate Assessment
        </li>
        <ul>
          <el-button type="text" @click="openApplicantHome()" data-cy-sg="startApplicantModeBtn"><u>Applicant Mode</u></el-button>
          <el-button type="text" @click="openAssessorHome()" data-cy-sg="startAssessorModeBtn"><u>Assessor Mode</u></el-button>
        </ul>
        <br>
        <li>
          Improvement Areas
        </li>
        <ul>
          <el-button type="text" @click="openImprovementAreas()" :disabled="!studyData.checklist_study_complete" data-cy-sg="openImprovementAreas"><u>View improvement areas</u></el-button>
        </ul>
        <br>
        <li>
          Generate and export summary report
        </li>
        <ul>
          <el-button type="text" @click="openReportExportPage()" :disabled="!studyData.checklist_study_complete" data-cy-sg="openReportHome"><u>Generate PDF report</u></el-button>
        </ul>
      </ul>
    </el-main>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      sgStudyID: '',
      studyData: [],
      reportData: ''
    }
  },
  created() {
    this.sgStudyID = this.$route.params.study_id
    this.getSgStudy(this.sgStudyID)
  },
  methods: {
    openChecklist() {
      this.$router.push({ name: 'ChecklistInput', params: { study_data: this.studyData }})
    },
    openChecklistResults() {
      this.$router.push({ name: 'ChecklistOutput', params: { study_data: this.studyData }})
    },
    getSgStudy(sgStudyID) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${sgStudyID}`
      axios.get(path)
        .then((res) => {
          this.studyData = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    openApplicantHome() {
      this.$router.push({ name: 'ApplicantHome', params: {study_data: this.studyData }})
    },
    openAssessorHome() {
      this.$router.push({ name: 'AssessorHome', params: {study_data: this.studyData }})
    },
    openImprovementAreas() {
      this.$router.push({ name: 'ImprovementAreas', params: {study_data: this.studyData }})
    },
    openReportExportPage() {
      this.$router.push({ name: 'ReportExport', params: {study_data: this.studyData }})
    }
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
