<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-header>
      <h1>Study Comparison Input Page</h1>
    </el-header>
      <el-main>
        <h2>Select studies</h2>
        <el-row class="bg-white">
          You can only compare studies that have used the same set of metric thresholds.
          Please select the Threshold Set from the dropdown list to show the studies available for comparison.
        </el-row>
        <br>
        <el-row>
          <el-col :span="24">
            <el-select
            v-model="chosenFrameworkId"
            placeholder="Filter studies by thresholds"
            @change="filterStudies(chosenFrameworkId)"
            data-cy-sg="selectFramework">
              <el-option
                v-for="f in frameworks"
                :key="f.id"
                :label="f.name"
                :value="f.id"
                :data-cy-sg="`selectItem${f.id}`">
              </el-option>
            </el-select>
          </el-col>
        </el-row>
        <el-row>
        </el-row>
        <el-row>
          <el-table
            ref="comparisonInputTable"
            :data="sgStudiesFiltered"
            style="width: 100%"
            data-cy-sg="comparisonTable">
            <el-table-column
              property="name"
              label="Study name"
              width="200">
            </el-table-column>
            <el-table-column
              property="description"
              label="Description">
            </el-table-column>
            <el-table-column
              label="Select for comparison"
              width="200">
              <template slot-scope="scope">
                <el-checkbox-group v-model="value">
                  <el-checkbox :label=scope.row.id :data-cy-sg="`comparisonStudy${scope.row.id}`">{{ empty }}</el-checkbox>
                </el-checkbox-group>
              </template>
            </el-table-column>
          </el-table>
        </el-row>
        <el-row></el-row>
        <el-footer>
          <el-button
            type="primary"
            :disabled="checkNumStudies()"
            @click="openComparisonHomePage()"
            data-cy-sg="openComparisonHomePageBtn">Compare studies</el-button>
        </el-footer>
      </el-main>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      frameworks: [],
      chosenFrameworkId: '',
      sgStudies: [],
      sgStudiesFiltered: [],
      value: [],
      selectedStudies: [],
      empty: '',
      renderFunc(h, option) {
        return <span>{ option.label } (id: { option.id })</span>;
      }
    };
  },
  created() {
    this.getFrameworks()
    this.getStudies()
  },
  methods: {
    handleChange(value, direction, movedKeys) {
      // console.log(value, direction, movedKeys);
    },
    getFrameworks() {
      const path = `${process.env.VUE_APP_API_URL}/api/frameworks/`
      axios.get(path)
        .then((res) => {
          this.frameworks = res.data.frameworks
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    async getStudies () {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/`
      let result = null

      try {
        result = await axios.get(path)
        this.sgStudies = result.data.stage_gate_studies
      } catch (error) {
        console.log(error)
      }
    },
    filterStudies(id) {
      this.sgStudiesFiltered = this.sgStudies.filter(function (el) {
        return el.framework_id === id;
      })
      this.sgStudiesFiltered.map(function (el) {
        el.key = el.id;
        el.label = el.name;
        return el;
      });
      this.value = []
    },
    checkNumStudies() {
      if (this.value.length < 2) {
        return true
      } else {
        return false
      }
    },
    openComparisonHomePage() {
      this.$router.push({ name: 'SgStudyComparisonResults', params: { studyIds: this.value } })
    }
  }
};
</script>

<style>
  .el-row {
    margin-bottom: 20px;
  }
  .transfer-footer {
    margin-left: 20px;
    padding: 6px 5px;
  }

  .el-transfer-panel {
    width: 250px;
  }

  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
