<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="dashboard-container">
    <div class="dashboard-text">
      <h1>Stage Gate module</h1>
      <b>Module developer:</b> Wave Energy Scotland
      <br>
      <b>Version:</b> v1.0.0</div>
      <br>
      <el-row class="bg-white">
        <h3>Welcome</h3>
        <p>
          Welcome to the Stage Gate module of DTOceanPlus!
        </p>
        <p>
          The Stage Gate design tool is a framework that guides a user through a technology assessment process. It is intended to be used by a wide variety of stakeholders, including:
          <ul>
            <li>
              Technology developers in the evaluation of their own technology and
            </li>
            <li>
              Investors and public funders to aid design of funding programmes and decision making on candidate technologies
            </li>
          </ul>
        </p>
        <p>
          The aim of this tool is to guide the technology development process and facilitate the assessment of ocean energy technologies. As a tool, it operates with close integration to the Structured Innovation, Deployment and Assessment tools, to support consistent assessment processes and ultimately guide decision making for the users of the tool.
        </p>
        <br>
        <h3>Functionalities</h3>
        <p>
          The Stage Gate module has seven major functionalities:
          <ol>
            <li>
              <b>Stage Gate Framework</b> – functionality for viewing the Stage Activity and Stage Gate Question data of the Stage Gate Framework developed for DTOceanPlus. This functionality also enables the user to edit the Stage Gate Framework by specifying the metric thresholds that are applied.
            </li>
            <li>
              <b>Activity Checklist</b> – allows the user to work through the required activities for each stage of the Stage Gate programme in turn and record whether they have been completed or not. This enables SG to identify the specific stage that a device or technology has reached.
            </li>
            <li>
              <b>Applicant Mode</b> – the first component of the Stage Gate assessment functionality. Presents to the user a set of qualitative and quantitative questions about their technology that they must answer. Emulates the application process at the stage gate of a typical technology development programme, from the point of view of the Applicant.
            </li>
            <li>
              <b>Assessor Mode</b> – the second component of the Stage Gate assessment functionality. Presents to the user the answers supplied by an Applicant in a previous Applicant Mode assessment and requests Assessor scores and comments. Emulates the assessment process of a Stage Gate of a typical technology development programme, from the point of view of the Assessor.
            </li>
            <li>
              <b>Improvement Areas</b> – the methodology for identifying the improvement areas highlighted by a Stage Gate analysis. These refer to the characteristics of a device or technology that the SG module has identified as needing further development or refinement.
            </li>
            <li>
              <b>Report Export</b> – generates a standardised report in PDF format that summarise all the key information associated with a Stage Gate analysis.
            </li>
            <li>
              <b>Study Comparison</b> – compares the results of two or more Stage Gate Assessments that have been performed by the user.
            </li>
          </ol>
        </p>
        <br>
        <h3>Navigation</h3>
        <p>
          The side-bar on the left-hand side of the screen can be used for navigating between the main components of the Stage Gate module.
          This side-bar can be collapsed using the top left of the main screen, next to where it says <b>Home</b>.
        </p>
        <p>
          Under the <b>Framework</b> tab, there are three options.
          The first button takes you to the <router-link to="/frameworks/home">Framework home page</router-link>.
          The next button re-directs the user to the <router-link to="/frameworks/explorer">Framework Explorer</router-link> component that presents the Stage Gate Framework that is incorporated throughout the module.
          Users can edit the metric thresholds that are applied in the analyses by clicking the <router-link to="/frameworks/index">Metric Thresholds</router-link> tab.
        </p>
        <p>
          The <router-link to="/stage-gate-studies/index">Stage Gate Studies</router-link> link will take the user to the list of existing Stage Gate Studies.
          A Stage Gate study is the entity that is used to record and save the input and output data associated with a single analysis in the Stage Gate tool.
          If running the Stage Gate module as part of an integrated assessment, you will be directed straight to the home page of the relevant Stage Gate Study and skip the page that lists the existing studies.
        </p>
        <p>
          Finally, there is navigation section that contains some important links.
          The user can access the detailed documentation for the module, which contains introductory tutorials and how-to guides, as well as detailed sections on the technical implementation of the tool and relevant background and theory.
          A link to take you to the main DTOceanPlus website is also provided.
        </p>
      </el-row>
  </div>

</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Dashboard',
  computed: {
    ...mapGetters([
      'name'
    ])
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
a {
  font-weight: bold;
  color: #39d2ff;
}
.bg-white {
  background: white;
  border-radius: 4px;
  padding: 10px 20px;
}
</style>
