<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-header>
      <h1>Activity Checklist Output Page</h1>
      <br>
      <el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button>
      <br><br><br>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <b>Stage Gate Study: </b> <span data-cy-sg="title">{{ studyData.name }}</span>
        </el-col>
        <el-col :span="8">
          <b>Description: </b> {{ studyData.description }}
        </el-col>
        <el-col :span="8">
          <b>Threshold settings: </b> {{ studyData.framework }}
        </el-col>
      </el-row>
    </el-header>
    <br><br><br><br><br><br><br><br>
    <div>
      <el-main>
        <el-row class="bg-white">
          <el-row v-if="Object.keys(complexityLevels).length > 0">
            <p>
              All the activities up to and including <b>Stage {{ complexityLevels.stage }}</b> have been completed.
              This means that the technology is eligible to be assessed against <b>{{ complexityLevels.stage_gate }}</b>.
              A breakdown of the percentage of activities completed in each stage is given below.
              Additional information for each Stage can be accessed by clicking on the relevant button.
            </p>
          </el-row>
          <el-row v-else>
            None of the Stages have been completed fully.
            This means that the technology is not eligible to be assessed against any Stage Gate.
            A further breakdown of the percentage of activities completed in each stage is given below.
            Additional information for each Stage can be accessed by clicking on the relevant button.
          </el-row>
          <br><br>
          <el-row type="flex" justify="space-around">
            <el-col :key="s.name" v-for="(s, index) in summary_stage_data" :span="6">
              <center>
                <el-button type="text" @click="openChecklistStage(index)">{{ s.name }}</el-button>
                <br><br><br>
                <el-progress type="circle" :percentage="s.percent_complete" :color="getColour(s.percent_complete)"></el-progress>
              </center>
            </el-col>
          </el-row>
          <el-row v-if="Object.keys(complexityLevels).length > 0">
            <br><br><br>
            <p>
              You can start an Applicant Mode assessment for the recommended <b>{{ complexityLevels.stage_gate }}</b> by clicking the button below.
            </p>
            <el-button
              @click="launchApplicant">
              Start Applicant Mode
            </el-button>
          </el-row>
        </el-row>
        <div v-if="Object.keys(complexityLevels).length > 0">
          <br><br><br><br>
          <el-row class="bg-white">
            The following table shows the appropriate <i>complexity level</i> that should be used for each DTOceanPlus module in an integrated assessment, based on the project/technology having completed all activities up to and including <b>Stage {{ complexityLevels.stage }}</b>.
            Note that complexity level is not applicable for the Systems Performance and Energy Yield (SPEY) module, so this module is omitted from the table.
          </el-row>
          <br><br>
          <el-table
            stripe
            :data="complexityLevelTableData">
            <el-table-column
              prop="module"
              label="Module"
              width="360">
            </el-table-column>
            <el-table-column
              prop="cpx"
              label="Complexity level"
              width="180">
            </el-table-column>
          </el-table>
          <!-- <br><br><br>
          <el-button
            type="primary"
            @click="startIntegratedMode()">
            Start an integrated assessment
          </el-button> -->
        </div>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import colorMap from '@/utils/colour-pallete.js';

export default {
  data() {
    return {
      studyData: [],
      percentage: 100,
      summary_stage_data: [],
      complexityLevels: {},
      moduleNameMapping: {
        "site_characterisation": "Site Characterisation",
        "machine_characterisation": "Machine Characterisation",
        "energy_capture": "Energy Capture",
        "energy_transformation": "Energy Transformation",
        "energy_delivery": "Energy Delivery",
        "station_keeping": "Station Keeping",
        "logistics_marine_ops": "Logistics and Marine Operations",
        // "system_performance_energy_yield": "System Performance and Energy Yield",
        "system_lifetime_cost": "System Lifetime Costs",
        "rams": "Reliability, Availability, Maintainability and Survivability",
        "environmental_social_acceptance": "Environmental and Social Acceptance"
      },
      complexityLevelTableData: [],
      stageGateData: []
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.getChecklistOutputs();
    this.getComplexityLevels();
    this.getStageGateData(this.studyData.id);
  },
  methods: {
    getColour: colorMap.customColorMethod,
    goBack() {
      this.$router.push({ name: 'SgStudiesHome', params: { study_id: this.studyData.id } })
    },
    getChecklistOutputs() {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${this.studyData.id}/checklist-outputs`
      axios.get(path)
        .then((res) => {
          this.summary_stage_data = res.data.results
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    getComplexityLevels() {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${this.studyData.id}/complexity-levels`
      axios.get(path)
        .then((res) => {
          this.complexityLevels = res.data;
          for (const i in this.moduleNameMapping) {
            this.complexityLevelTableData.push({
              "module": this.moduleNameMapping[i],
              "cpx": this.complexityLevels.complexity_levels[i]
            })
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    openChecklistStage(idx) {
      const stageData = this.summary_stage_data[idx]
      this.$router.push({ name: 'ChecklistStage', params: { study_data: this.studyData, stage_data: stageData } })
    },
    startIntegratedMode() {
      this.$message({
        message: "This will eventually lead to an integrated project with D&A modules.",
        type: "warning"
      })
    },
    launchApplicant() {
      let appStageGate = this.stageGateData[this.complexityLevels.stage];
      this.$router.push({ name: 'ApplicantInput', params: {
        study_data: this.studyData,
        app_stage_gate: appStageGate
        }})
    },
    getStageGateData(sgID) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${sgID}/stage-gate-assessments`
      axios.get(path)
        .then((res) => {
          this.stageGateData = res.data.stage_gate_assessments
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    }
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
