<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-header>
      <h1>Study Comparison Output Page</h1>
    </el-header>
    <div>
      <el-main>
        <el-row class="bg-white">
          The comparison of the selected studies is given below.
          The summary details are shown at the top of the page.
          Please use the tabs underneath the summary to show the comparison of results for each of the <b>Activity Checklist</b>, <b>Applicant Mode</b> and <b>Assessor Mode features</b>.
        </el-row>
        <el-row>
          <h2>Study details</h2>
          <el-table :data="sgStudies" style="width: 100%">
            <el-table-column
              prop="id"
              label="ID"
              width="180">
            </el-table-column>
            <el-table-column
              prop="name"
              label="Name"
              width="300">
            </el-table-column>
            <el-table-column
              prop="description"
              label="Description">
            </el-table-column>
          </el-table>
        </el-row>
        <el-row>
          <h2>Results</h2>
          <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="Activity Checklist" name="checklist">
              <checklist-comparison :query-string="queryString"></checklist-comparison>
            </el-tab-pane>
            <el-tab-pane label="Applicant Mode" name="applicant">
              <applicant-comparison :sg-studies="sgStudies"></applicant-comparison>
            </el-tab-pane>
            <el-tab-pane label="Assessor Mode" name="assessor">
              <assessor-comparison :sg-studies="sgStudies"></assessor-comparison>
            </el-tab-pane>
          </el-tabs>
        </el-row>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import ChecklistComparison from '@/components/ChecklistComparison'
import ApplicantComparison from '@/components/ApplicantComparison'
import AssessorComparison from '@/components/AssessorComparison'

export default {
  data() {
    return {
      studyIds: [],
      activeName: '',
      sgStudies: [],
      queryString: {}
    };
  },
  components: {
    ChecklistComparison,
    ApplicantComparison,
    AssessorComparison
  },
  created() {
    this.studyIds = this.$route.params.studyIds
    this.getSelectedStudies()
    this.getQueryString()
  },
  methods: {
    handleClick(tab, event) {
      // console.log(tab, event);
    },
    getSelectedStudies() {
      for (const s of this.studyIds) {
        this.getSgStudy(s);
      }
    },
    getSgStudy(sgStudyID) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${sgStudyID}`
      axios.get(path)
        .then((res) => {
          this.sgStudies.push(res.data)
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    getQueryString() {
      this.queryString = this.studyIds.join("&id=")
    },
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
