<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <h3>Select Stage Gate</h3>
    <el-row class="bg-white">
      <p>The Applicant Mode results for a single Stage Gate can be compared.</p>
      <p>Please select the desired Stage Gate from the list below.</p>
    </el-row>
      <el-row>
        <el-col :span="24">
          <el-select
          v-model="chosenStageGateId"
          placeholder="Please select Stage Gate"
          @change="onSelectStageGate(chosenStageGateId)"
          data-cy-sg="selectStageGateApp">
            <el-option
              v-for="sg in stageGates"
              :key="sg.id"
              :label="sg.name"
              :value="sg.id"
              :data-cy-sg="`selectStageGateApp${sg.id}`">
            </el-option>
          </el-select>
        </el-col>
      </el-row>
    <h3>Summary</h3>
      <el-table :data="applicantComparisonData.summary_data">
        <el-table-column
          prop="study_label"
          label="Study name"
          width="300">
        </el-table-column>
        <el-table-column
          prop="response_rate"
          label="Response rate (%)"
          width="300">
        </el-table-column>
        <el-table-column
          prop="threshold_success_rate"
          label="Threshold success rate (%)"
          width="300">
        </el-table-column>
      </el-table>
    <div v-if="chosenStageGateId !== 0">
      <h3>Metric results</h3>
        <el-table
          :data="metricData"
          border
          fit
          highlight-current-row
        >
          <el-table-column
            prop="metric"
            label="Metric"
            sortable
            width="300">
          </el-table-column>
          <el-table-column
            prop="unit"
            label="Unit"
            width="180">
          </el-table-column>
          <el-table-column
            prop="threshold_type"
            label="Threshold type"
            width="180">
            <template
              slot="header">
              <el-popover
                ref="fromPopOver1"
                placement="top-start"
                width="250"
                trigger="hover">
                <span>
                Metric results pass if they are lower <br>
                than 'upper' thresholds or greater <br>
                than 'lower' thresholds
                </span>
              </el-popover>
              <span>Threshold type <i
                v-popover:fromPopOver1
                class="el-icon-info"/>
              </span>
            </template>
          </el-table-column>
          <el-table-column
            prop="threshold"
            label="Threshold"
            width="180">
          </el-table-column>
          <el-table-column
            v-for="column in applicantComparisonData.study_columns"
            :key="column.label"
            :prop="column.prop"
            :label="column.label">
          </el-table-column>
        </el-table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: [
    'sgStudies'
  ],
  data() {
    return {
      chosenStageGateId: '',
      stageGates: [
        {
          "id": 0,
          "name": "Stage Gate 0 - 1"
        },
        {
          "id": 1,
          "name": "Stage Gate 1 - 2"
        },
        {
          "id": 2,
          "name": "Stage Gate 2 - 3"
        },
        {
          "id": 3,
          "name": "Stage Gate 3 - 4"
        },
        {
          "id": 4,
          "name": "Stage Gate 4 - 5"
        }
      ],
      applicantComparisonData: [],
      metricDataIn: []
    }
  },
  computed: {
    metricData() {
      var metData = this.metricDataIn.slice();
      metData.map(function (el) {
        el.data.forEach(function(d) {
          el[d["name"]] = d["result"];
        })
        return el;
      });
      return metData
    },
    queryString() {
      if (this.chosenStageGateId === '') {
        return "none"
      } else {
        const idx = this.chosenStageGateId;
        var sgAppIds = this.sgStudies.map(function(s) {
          return s.stage_gate_assessment[idx];
        })
        return sgAppIds.join("&id=")
      }
    }
  },
  methods: {
    onSelectStageGate(sgId) {
      this.getApplicantComparison()
    },
    getApplicantComparison() {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/applicant-comparison?id\=${this.queryString}`
      axios.get(path)
        .then((res) => {
          this.applicantComparisonData = res.data
          this.metricDataIn = res.data.metric_data
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    }
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
