<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <h1>The DTOceanPlus Stage Gate Framework</h1>
    <el-row type="flex" class="bg-white" justify="space-between">
      <el-col :span="12">
        <p>
          The Stage Gate module is an application of a Stage Gate process that is used in research and industry to provide structure to the technology development process.
          This approach supports the R&D pathway towards producing reliable and cost-effective ocean energy sub-systems, devices and arrays.
          The data that forms the basis of this tool come from two main sources:
          <ol>
            <li>
              The <a href="https://www.ocean-energy-systems.org/publications/oes-documents/" target="_">International Evaluation and Guidance Framework</a> for Ocean Energy Technology written by the International Energy Agency – Ocean Energy Systems (see diagram to the right)
            </li>
            <li>
              The <a href=https://www.waveenergyscotland.co.uk/ target="_">Wave Energy Scotland (WES)</a> stage gate programme
            </li>
          </ol>
        </p>
        <p>
          A Stage Gate process splits the technology development pathway into clearly defined Stages and Stage Gates.
          Each Stage consists of a set of activities that should be completed before the technology developer can progress to the next stage.
          The Stage Gates comprise a set of questions related to the activities completed in the preceding Stage and that emulate the types of questions given to technology developers as part of a Stage Gate assessment within a technology development programme, such as the one run by Wave Energy Scotland (WES).
          The Stage Gate process contains additional elements such as Evaluation Areas and performance metrics.
          The term Framework is given to describe the whole process, including the set of Stages, Stage Gates, activities, questions, Evaluation Areas and performance metrics.
          A full description of the Stage Gate Framework and how it was defined is provided in the <i>Background and theory</i> section of the documentation.
        </p>
        <p>
          The <router-link to="/frameworks/explorer">Framework Explorer</router-link> feature of the Stage Gate tool allows the user to view and explore the Stage Gate Framework that has been defined as part of the DTOceanPlus project and is incorporated throughout the Stage Gate module.
          The <router-link to="/frameworks/index">Metric Thresholds</router-link> section is where the user can specify the metric thresholds to apply in later analyses.
        </p>
      </el-col>
      <el-col :span="12" :push=2>
        <img src="@/assets/OES_task12_1.svg" alt="IEA OES Stage definitions" width="75%">
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  methods: {
    viewFramework() {
      this.$router.push({ name: 'Thresholds', params: { framework_id: 1 } })
    },
  },
  created () {}
}
</script>

<style lang="scss" scoped>
a {
  font-weight: bold;
  color: #39d2ff;
}
.bg-white {
  background: white;
  border-radius: 4px;
  padding: 10px 20px;
}
</style>
