<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <h1>
      Managing metric thresholds
    </h1>
    <el-row class="bg-white">
      <p>
        This is the place where users can define a set of metric thresholds to be applied in future analyses.
        To do this, you must first create what is referred to as a <b>Threshold Set</b> by clicking the appropriate button below.
        You will then be able to edit the thresholds that are applied at each Stage Gate for this particular set.
      </p>
      <p>
        By default, there are no metric thresholds applied.
        You cannot change this default option.
      </p>
      <p>
        When creating a <b>Stage Gate Study</b>, the user will be given the choice to select a previously-created threshold set.
      </p>
    </el-row>
    <br><br><br>
    <el-row>
      <el-button
        type="success"
        size="mini"
        @click="dialogFormVisible = true"
        data-cy-sg="createFrameworkBtn">
        Create new Threshold Set
      </el-button>
    </el-row>
    <el-dialog title="Create a new set of metric thresholds" :visible.sync="dialogFormVisible">
      <el-form :model="addFrameworkForm">
        <el-form-item label="Name" :label-width="formLabelWidth">
          <el-input v-model="addFrameworkForm.name" autocomplete="off" data-cy-sg="frameworkFormName"></el-input>
        </el-form-item>
        <el-form-item label="Description" :label-width="formLabelWidth">
          <el-input v-model="addFrameworkForm.description" autocomplete="off" data-cy-sg="frameworkFormDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="success" @click="onSubmit" data-cy-sg="frameworkFormCreateBtn">Create</el-button>
      </span>
    </el-dialog>
    <br><br>
    <el-table :data="frameworks" style="width: 100%">
      <el-table-column
        prop="name"
        label="Name"
        width="300">
      </el-table-column>
      <el-table-column
        prop="description"
        label="Description"
        width="600">
      </el-table-column>
      <el-table-column
        label="Operations">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            :disabled="isDisabled(scope.row)"
            @click="viewFramework(scope.row)"
            :data-cy-sg="`viewFrameworkBtn${scope.row.id}`">Edit set</el-button>
          <el-button
            size="mini"
            type="warning"
            :disabled="isDisabled(scope.row)"
            @click="editFramework(scope.row)"
            :data-cy-sg="`editFrameworkBtn${scope.row.id}`">Re-name set</el-button>
          <el-button
            size="mini"
            type="danger"
            :disabled="isDisabled(scope.row)"
            @click="onDeleteFramework(scope.row)"
            :data-cy-sg="`deleteFrameworkBtn${scope.row.id}`">Delete set</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="Update a Stage Gate framework" :visible.sync="dialogUpdateFormVisible">
      <el-form :model="editForm">
        <el-form-item label="Name" :label-width="formLabelWidth">
          <el-input v-model="editForm.name" autocomplete="off" data-cy-sg="editFrameworkFormName"></el-input>
        </el-form-item>
        <el-form-item label="Description" :label-width="formLabelWidth">
          <el-input v-model="editForm.description" autocomplete="off" data-cy-sg="editFrameworkFormDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="warning" @click="onSubmitUpdate" data-cy-sg="editFrameworkFormUpdateBtn">Update</el-button>
      </span>
    </el-dialog>
    <el-dialog title="Delete a Stage Gate framework" :visible.sync="dialogDeleteVisible">
      <span>Are you sure you want to delete the following framework?</span><br><br>
      <span><b>Name: </b>{{ this.deleteForm.name }}</span><br>
      <span><b>Description: </b>{{ this.deleteForm.description }}</span><br>
      <span><b>ID: </b>{{ this.deleteForm.id }}</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="danger" @click="removeFramework" data-cy-sg="confirmDeleteFrameworkBtn">Delete</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      frameworks: [],
      addFrameworkForm: {
        name: '',
        description: ''
      },
      editForm: {
        id: '',
        name: '',
        description: ''
      },
      deleteForm: {
        id: '',
        name: '',
        description: ''
      },
      dialogFormVisible: false,
      dialogUpdateFormVisible: false,
      dialogDeleteVisible: false,
      formLabelWidth: '120px'
    }
  },
  methods: {
    getFrameworks () {
      const path = `${process.env.VUE_APP_API_URL}/api/frameworks/`
      axios.get(path)
        .then(res => {
          this.frameworks = res.data.frameworks
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },

    viewFramework (row) {
      this.$router.push({ name: 'Thresholds', params: { framework_id: row.id } })
    },

    addFramework (payload) {
      const path = `${process.env.VUE_APP_API_URL}/api/frameworks/`
      axios.post(path, payload)
        .then(() => {
          this.getFrameworks()
          this.frameworkMessage('Framework added', 'success')
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.log(error);
          this.getFrameworks()
          this.frameworkMessage('Operation cancelled. Unique framework name required.', 'warning')
        })
    },
    updateFramework (payload, frameworkID) {
      const path = `${process.env.VUE_APP_API_URL}/api/frameworks/${frameworkID}`
      axios.put(path, payload)
        .then(() => {
          this.getFrameworks()
          this.frameworkMessage('Framework updated', 'success')
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
          this.getFrameworks()
          this.frameworkMessage('Operation cancelled. Unique framework name required.', 'warning')
        })
    },
    editFramework (row) {
      this.editForm.id = row.id
      this.editForm.name = row.name
      this.editForm.description = row.description
      this.dialogUpdateFormVisible = true
    },
    removeFramework () {
      this.dialogDeleteVisible = false
      const path = `${process.env.VUE_APP_API_URL}/api/frameworks/${this.deleteForm.id}`
      axios.delete(path)
        .then(() => {
          this.getFrameworks()
          this.frameworkMessage('Framework deleted', 'success')
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
          this.getFrameworks()
          this.frameworkMessage(error.response.data.message, 'error')
        })
    },
    onDeleteFramework (row) {
      this.dialogDeleteVisible = true
      this.deleteForm.id = row.id
      this.deleteForm.name = row.name
      this.deleteForm.description = row.description
    },
    initForm () {
      this.addFrameworkForm.name = ''
      this.addFrameworkForm.description = ''
      this.editForm.id = ''
      this.editForm.name = ''
      this.editForm.description = ''
      this.deleteForm.id = ''
      this.deleteForm.name = ''
      this.deleteForm.description = ''
    },
    onSubmit () {
      this.dialogFormVisible = false
      const payload = {
        name: this.addFrameworkForm.name,
        description: this.addFrameworkForm.description
      }
      this.addFramework(payload)
      this.initForm()
    },
    onCancel () {
      this.dialogFormVisible = false
      this.dialogUpdateFormVisible = false
      this.dialogDeleteVisible = false
      this.operationMessage('Operation cancelled')
      this.initForm()
      this.getFrameworks()
    },
    onSubmitUpdate () {
      this.dialogUpdateFormVisible = false
      const payload = {
        name: this.editForm.name,
        description: this.editForm.description
      }
      this.updateFramework(payload, this.editForm.id)
    },
    frameworkMessage (content, msgType) {
      this.$message({
        message: content,
        type: msgType
      })
    },
    operationMessage (content) {
      this.$message({
        message: content
      })
    },
    isDisabled (row) {
      // TODO: re-factor this old name (will break FE unit tests)
      if (row.name == "Default (no metric thresholds)") {
        return true;
      } else {
        return false;
      }
    }
  },
  created () {
    this.getFrameworks()
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
