<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <h1>Edit metric thresholds</h1>
    <el-row class="bg-white">
      <p>
        Use the tabs below to navigate through the Stage Gates and set metric thresholds.
        Stage Gate 0 - 1 is not available because there are no quantitative questions as part of this initial Stage Gate.
      </p>
    </el-row>
    <br><br><br>
    <el-tabs v-model="selectedStageGate" @tab-click="handleChange">
      <el-tab-pane v-for="sgTab in stageGateTabs" :key="sgTab.id" :label="sgTab.label" :name="sgTab.name" :value="sgTab.id">
        <el-row type="flex" justify="end">
          <el-button
            @click="saveMetricThresholds()"
            type="primary"
            data-cy-sg="saveThresholdsBtn">
            Save thresholds
          </el-button>
        </el-row>
        <br>
        <el-table
          ref="filterTable"
          :data="quantitativeQuestions"
          style="width: 100%"
          :cell-style="{padding: '0', height: '30px'}"
          >
          <el-table-column
            type="expand"
            label="Details"
            width="100">
            <template slot-scope="props">
              <b>Metric description</b>
              <br><br>
              <div v-html="props.row.description"></div>
            </template>
          </el-table-column>
          <el-table-column
            prop="metric"
            label="Metric"
            width="450">
          </el-table-column>
          <el-table-column
            prop="unit"
            label="Unit"
            width="180">
          </el-table-column>
          <el-table-column
            prop="evaluation_area"
            label="Evaluation Area"
            width="180"
            column-key="evaluation_area"
            :filters="evalAreas"
            :filter-method="filterHandler">
          </el-table-column>
          <el-table-column
            prop="weighting"
            label="Weighting (%)"
            width="180">
          </el-table-column>
          <el-table-column
            prop="threshold_type"
            label="Threshold type"
            width="140">
            <template
              slot="header">
              <el-popover
                ref="fromPopOver1"
                placement="top-start"
                width="250"
                trigger="hover">
                <span>
                Metric results pass if they are lower <br>
                than 'upper' thresholds or greater <br>
                than 'lower' thresholds
                </span>
              </el-popover>
              <span>Threshold type <i
                v-popover:fromPopOver1
                class="el-icon-info"/>
              </span>
            </template>
          </el-table-column>
          <el-table-column
            label="Apply threshold"
            width="140">
            <template slot-scope="props">
              <el-form>
                <el-form-item>
                  <el-checkbox
                    size="mini"
                    style="transform: translateY(20%)"
                    v-model="props.row.threshold_bool"
                    :data-cy-sg="`thresholdCheckbox${props.row.id}`"></el-checkbox>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column
            label="Metric threshold"
            width="300">
            <template slot-scope="props">
              <el-form>
                <el-form-item v-if="props.row.threshold_bool">
                  <el-input-number
                    size="mini"
                    style="transform: translateY(30%)"
                    v-model="props.row.threshold"
                    :data-cy-sg="`thresholdNumber${props.row.id}`"></el-input-number>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      frameworkData: [],
      selectedStageGate: '',
      stageGateTabs: [
        {
          id: 1,
          label: "Stage Gate 1 - 2",
          name: "1"
        },
        {
          id: 2,
          label: "Stage Gate 2 - 3",
          name: "2"
        },
        {
          id: 3,
          label: "Stage Gate 3 - 4",
          name: "3"
        },
        {
          id: 4,
          label: "Stage Gate 4 - 5",
          name: "4"
        },
      ],
      stageGateUri: "",
      data: [],
      evalAreas: [
        {text: 'Acceptability', value: 'Acceptability'},
        {text: 'Installability', value: 'Installability'},
        {text: 'Availability', value: 'Availability'},
        {text: 'Maintainability', value: 'Maintainability'},
        {text: 'Reliability', value: 'Reliability'},
        {text: 'Survivability', value: 'Survivability'},
        {text: 'Affordability', value: 'Affordability'},
        {text: 'Manufacturability', value: 'Manufacturability'},
        {text: 'Power Capture', value: 'Power Capture'},
        {text: 'Power Conversion', value: 'Power Conversion'},
        {text: 'Controllability', value: 'Controllability'}
      ],
    }
  },
  methods: {
    getFramework (frameworkID) {
      const path = `${process.env.VUE_APP_API_URL}/api/frameworks/${frameworkID}`
      axios.get(path)
        .then((res) => {
          this.frameworkData = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    handleChange(value) {
      this.saveMetricThresholds();
      this.stageGateUri = this.frameworkData.stage_gates[parseInt(value.name)];
      this.getStageGateData();
    },
    getStageGateData() {
      const path = `${process.env.VUE_APP_API_URL}${this.stageGateUri}`
      axios.get(path)
        .then((res) => {
          this.data = res.data.question_categories
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    filterHandler(value, row, column) {
      const property = column['property'];
      return row[property] === value;
    },
    saveMetricThresholds() {
      this.updateMetricThresholds();
      this.$message({
        message: "Thresholds saved",
        type: "success"
      });
    },
    updateMetricThresholds() {
      const path = `${process.env.VUE_APP_API_URL}/api/question-metrics`
      axios.put(path, this.questionMetricPayload)
        .then((response) => {
          console.log('Thresholds saved');
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
  },
  created () {
    this.frameworkID = this.$route.params.framework_id;
    this.getFramework(this.frameworkID);
  },
  computed: {
    quantitativeQuestions() {
      let q = this.data
        .filter(q_cat => q_cat.questions.some(q => q.question_metric !== null))
        .map(q_cat => q_cat.questions.map(q => Object({
          id: q.question_metric.id,
          metric: q.question_metric.metric.name,
          unit: q.question_metric.metric.unit,
          threshold_type: q.question_metric.metric.threshold_type,
          threshold: q.question_metric.threshold,
          threshold_bool: q.question_metric.threshold_bool,
          weighting: q.weighting,
          evaluation_area: q.question_metric.metric.evaluation_area.name,
          description: q.description
        }))).flat();
      return q
    },
    questionMetricPayload() {
      let qm = this.quantitativeQuestions
        .filter(q => q.threshold_bool)
        .map(t => Object({
          id: t.id,
          threshold_bool: t.threshold_bool,
          threshold: t.threshold
        }))
      return qm
    }
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
