<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div style="width: 100%">
    <Plotly :data="data" :layout="layout"></Plotly>
  </div>
</template>


<script>
import axios from 'axios'
import { Plotly } from 'vue-plotly'

export default {
  props: [
    'bar_chart_data',
    'xAxisProps',
    'figureTitle'
  ],
  components: {
    Plotly
  },
  data() {
    return {
      layout: {
        barmode: 'group',
        xaxis: this.xAxisProps,
        yaxis: {
          automargin: true
        },
        height: 750,
        bargap: 0.25,
        autosize: true,
        title: this.figureTitle
      }
    }
  },
  computed: {
    data() {
      let d = this.bar_chart_data
      return d
    }
  }
}
</script>
