<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-header>
      <h1>Applicant Mode Home Page</h1>
      <br>
      <el-button
          icon="el-icon-arrow-left"
          @click="goBack()"
          data-cy-sg="goBackToStudyHome">Go Back</el-button>
      <br><br><br>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <b>Stage Gate Study: </b> <span data-cy-sg="title">{{ studyData.name }}</span>
        </el-col>
        <el-col :span="8">
          <b>Description: </b> {{ studyData.description }}
        </el-col>
        <el-col :span="8">
          <b>Threshold settings: </b> {{ studyData.framework }}
        </el-col>
      </el-row>
    </el-header>
    <br><br><br><br><br><br><br><br>
    <div>
      <el-main>
        <el-row class="bg-white">
          <p>
            Please select the Stage Gate that you would like to assess from the list below.
            The <b>Activity Checklist</b> can be used to identify which Stage Gate is most appropriate.
          </p>
          <ul>
            <li v-for="app_stage_gate in stageGateData" :key="app_stage_gate.id">
              {{ app_stage_gate.stage_gate }}
              <ul>
                <el-button
                  type="text"
                  @click="openStageGateInput(app_stage_gate)"
                  :data-cy-sg="`selectStageGateInput${app_stage_gate.id}`"><u>Perform</u></el-button>
                <el-button
                  type="text"
                  @click="openStageGateOutput(app_stage_gate)"
                  :disabled="!app_stage_gate.applicant_complete"
                  :data-cy-sg="`selectStageGateOutput${app_stage_gate.id}`"><u>View Results</u></el-button>
              </ul>
            </li>
          </ul>
        </el-row>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      studyData: [],
      stageGateData: [],
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.getStageGateData(this.studyData.id)
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'SgStudiesHome', params: { study_id: this.studyData.id } })
    },
    getStageGateData(sgID) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${sgID}/stage-gate-assessments`
      axios.get(path)
        .then((res) => {
          this.stageGateData = res.data.stage_gate_assessments
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    openStageGateInput(app_stage_gate) {
      this.$router.push({ name: 'ApplicantInput', params: {
        study_data: this.studyData,
        app_stage_gate: app_stage_gate
        }})
    },
    openStageGateOutput(app_stage_gate) {
      this.$router.push({ name: 'ApplicantOutput', params: {study_data: this.studyData, app_stage_gate_data: app_stage_gate }})
    }
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
