<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-header>
      <h1>Report Export</h1>
      <br>
      <el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button>
      <br><br><br>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <b>Stage Gate Study: </b> <span data-cy-sg="title">{{ studyData.name }}</span>
        </el-col>
        <el-col :span="8">
          <b>Description: </b> {{ studyData.description }}
        </el-col>
        <el-col :span="8">
          <b>Threshold settings: </b> {{ studyData.framework }}
        </el-col>
      </el-row>
    </el-header>
    <br><br><br><br><br><br><br><br>
    <div>
      <el-main>
        <el-row class="bg-white">
          <p>
            Please select the sections that you would like to include in the Stage Gate Study Summary Report below and then click the <b>Generate Report</b> button.
            Checkboxes for the Applicant and Assessor Mode sections will only be availabe if the user has completed a Stage Gate analysis using these features.
          </p>
        <br>
          <el-tree
            :data="inputData"
            show-checkbox
            node-key="id"
            ref="tree"
            default-expand-all
            :props="defaultProps"
            @check-change="handleCheckChange">
          </el-tree>
        </el-row>
        <div v-if="stageIndexRequired">
          <br><br>
          <el-row>
            Please select the Stage to use in the analysis. This is required for the analysis of the detailed breakdown of Stage results,
            the Outstanding Activities and the Improvement Areas:
          </el-row>
          <br>
          <el-row>
            <el-select v-model="stageIndex" placeholder="Select a Stage" data-cy-sg="selectStage">
              <el-option
                v-for="item in stageOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                :disabled="item.disabled"
                :data-cy-sg="`stageIndex${item.value}`">
              </el-option>
            </el-select>
          </el-row>
        </div>
        <div v-if="stageGateIndexRequired">
          <br><br>
          <el-row>
            Please select the Stage Gate to use in the analysis. This is required for the Applicant Mode and Assessor Mode analyses:
          </el-row>
          <br>
          <el-row>
            <el-select v-model="stageGateIndex" placeholder="Select a Stage Gate" data-cy-sg="selectStageGate">
              <el-option
                v-for="item in stageGateOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                :disabled="item.disabled"
                :data-cy-sg="`stageGateIndex${item.value}`">
              </el-option>
            </el-select>
          </el-row>
        </div>
        <div v-if="iaThresholdRequired">
          <br><br>
          <el-row>
            Please select the threshold to use for the Improvement Area analysis.
            The default threshold for what is considered an improvement area is 50%.
          </el-row>
          <br>
          <el-row>
            <el-input-number v-model="iaThreshold" :precision="0" :step="5" :min="0" :max="100"></el-input-number>
          </el-row>
        </div>
        <br><br><br><br>
        <el-row>
          <el-button
            type="success"
            @click="generateReport()"
            :disabled="reportButtonDisabled"
            data-cy-sg='generateReportBtn'>Generate Report</el-button>
        </el-row>
        <div style="display:none" id="plotly_divA" ref="actCatBar"></div>
        <div style="display:none" id="plotly_divB" ref="evalAreaBar"></div>
        <div style="display:none" id="plotly_divC" ref="overallAssessorBar"></div>
        <div style="display:none" id="plotly_divD" ref="qCatAssessorBar"></div>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Plotly from 'plotly.js/dist/plotly'
import reportLogos from '@/utils/report-logos.js'

export default {
  components: {
    Plotly
  },
  data() {
    return {
      studyData: [],
      sgAssessmentData: [],
      defaultProps: {
        children: 'children',
        label: 'label'
      },
      requestBodyMap: {
        5: 'checklist_summary',
        6: 'checklist_stage_results',
        7: 'checklist_outstanding_activities',
        8: 'applicant_summary',
        9: 'metric_results',
        10: 'applicant_answers',
        11: 'assessor_overall_scores',
        12: 'assessor_question_categories',
        13: 'assessor_scores_comments',
        14: 'improvement_areas'
      },
      requestedKeys: [],
      stageRequiredList: [6, 7, 14],
      stageGateRequiredList: [8, 9, 10, 11, 12, 13],
      stageIndex: null,
      stageGateIndex: null,
      iaThreshold: 50,
      stageOptions: [{
        value: 0,
        label: 'Stage 0'
      }, {
        value: 1,
        label: 'Stage 1'
      }, {
        value: 2,
        label: 'Stage 2'
      }, {
        value: 3,
        label: 'Stage 3'
      }, {
        value: 4,
        label: 'Stage 4'
      }, {
        value: 5,
        label: 'Stage 5'
      }],
      requestBody: {},
      reportData: [],
      valid: false,
      logos: reportLogos,
      reportTitle: [],
      dtoBlue: '#022c5f',
      barChartWidth: 500,
      styles: {},
      backPage: [],
      preamble: [],
      checklistSection: [],
      checklistBarChart: "",
      applicantSection: [],
      assessorSection: [],
      improvementSection: {},
      svgPlot: '',
      reportContent: [],
      mock: {}
    }
  },
  created() {
    this.studyData = this.$route.params.study_data;
    this.loadBasicReportParams();
    this.getSgAssessmentData(this.studyData.id);
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'SgStudiesHome', params: { study_id: this.studyData.id } })
    },
    loadBasicReportParams() {
      this.reportTitle = [
        '\n\n\n\n\n',
        {
            'svg': this.logos.DTOP_LOGO,
            'width': 200,
            'alignment': 'center'
        },
        '\n\n\n',
        {
            'text': 'Stage Gate Design Tool\n\n',
            'fontSize': 18,
            'alignment': 'center'
        },
        {
            'text': 'Summary report\n\n\n',
            'fontSize': 18,
            'alignment': 'center',
            'bold': true
        }
      ];
      this.styles = {
        'header': {
            'fontSize': 18,
            'bold': true,
            'color': this.dtoBlue
        },
        'subheader': {
            'fontSize': 15,
            'bold': true
        },
        'subsubheader': {
            'fontSize': 12,
            'bold': true
        },
        'quote': {
            'italics': true
        },
        'bold': {
            'bold': true
        },
        'small': {
            'fontSize': 8
        },
        'tableExample': {
            'margin': [0, 5, 0, 15]
        },
        'tableHeader': {
            'bold': true,
            'color': 'white'
        }
      };
      this.backPage = [
        {
          'text': '',
          'pageBreak': 'before'
        },
        {
          'svg': this.logos.DTOP_LOGO,
          'width': 200,
          'alignment': 'center'
        },
        '\n\n\n\n',
        {
            'image': this.logos.BACKPAGE_LOGO,
            'width': 450,
            'alignment': 'center'
        },
        '\n\n\n\n\n\n\n\n\n',
        {
          'svg': this.logos.EU_LOGO,
          'alignment': 'center',
          'width': 50
        },
        '\n\n',
        {
          'text': "DTOceanPlus project has received funding from the European Union's Horizon 2020 \nresearch and innovation programme under grant agreement No 785921",
          'alignment': 'center',
          'fontSize': 10
        }

      ]
    },
    getSgAssessmentData(sgStudyID) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${sgStudyID}/stage-gate-assessments`
      axios.get(path)
        .then((res) => {
          this.sgAssessmentData = res.data.stage_gate_assessments
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    handleCheckChange() {
      this.stageGateIndex = null;
      this.requestedKeys = this.$refs.tree.getCheckedKeys();
    },
    checkStageGateDisabled(idx) {
      if (this.$refs.tree.getCheckedKeys().some(i => this.stageGateRequiredList.slice(3).includes(i))){
        return !this.sgAssessmentData[idx].assessor_complete
      } else {
        return !this.sgAssessmentData[idx].applicant_complete
      }
    },
    async generateReport() {
      const loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        });
      setTimeout(() => {
        loading.close();
      }, 10000);
      this.formatRequestBody();
      await this.getReportData(this.studyData.id, this.requestBody);
      if (this.valid) {
        this.pdfGen();
      }
      this.loadBasicReportParams();
      loading.close();
    },
    formatRequestBody() {
      var i;
      this.requestBody = {
        'sections': {},
        'stage_index': this.stageIndex,
        'stage_gate_index': this.stageGateIndex,
        'ia_threshold': this.iaThreshold
      };
      for (i = 5; i < 15; i++) {
        var key = this.requestBodyMap[i];
        this.requestBody.sections[key] = false;
        if ( this.$refs.tree.getCheckedKeys().includes( i ) ) {
          this.requestBody.sections[key] = true;
        }
      }
    },
    async getReportData(sgStudyID, payload) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${sgStudyID}/report-data`
      let response = null
      try {
        response = await axios.post(path, payload)
        if (response.status === 200) {
          this.valid = true
        }
        this.reportData = response.data;
        this.makeReport();
      } catch (error) {
        console.log(error)
      }
    },
    makeReport() {
      this.makeReportTitle();
      this.makePreamble();
      this.reportContent = this.reportTitle.concat(this.preamble);
      let toc = this.reportData.table_of_contents.ul;
      if (toc.includes('Activity Checklist')) {
        this.makeChecklist();
        this.reportContent.push(...this.checklistSection);
      };
      if (toc.includes('Applicant Mode')) {
        this.makeApplicant();
        this.reportContent.push(...this.applicantSection);
      }
      if (toc.includes('Assessor Mode')) {
        this.makeAssessor();
        this.reportContent.push(...this.assessorSection);
      }
      if (toc.includes('Improvement Areas')) {
        this.reportContent.push(...this.reportData.improvement_areas)
      }
      this.reportContent.push(...this.backPage);
    },
    makeReportTitle() {
      let studyParams = this.reportData.study_params;
      this.reportTitle.push(
        {
          'text': studyParams.study_name + '\n\n\n\n',
          'alignment': 'center',
          'fontSize': 18
        },
        {
          'text': 'Stage Gate v1.0.0\n' + studyParams.date,
          'alignment': 'center',
          'fontSize': 12,
          'pageBreak': 'after'
        }
      );
    },
    makePreamble() {
      let studyParams = this.reportData.study_params;
      this.preamble = [
        {
          'text': 'TABLE OF CONTENTS\n',
          'style': 'header'
        },
        '\n',
        {
          'text': 'The following requested sections have been included in this summary report;',
          'alignment': 'justify',
        },
        '\n',
        this.reportData.table_of_contents,
        '\n',
        {
          'text': 'INTRODUCTION\n',
          'style': 'header'
        },
        '\n',
        {
          'alignment': 'justify',
          'text': `This report is an output of the DTOceanPlus Stage Gate design tool. The aim of this report is to assist decision-making through standardised activities, questions and metrics to assess ocean technology development process in objective assessment. For more details on how the Stage DTOceanPlus website or through the Graphical User Interface (GUI) of the software.`
        },
        '\n',
        {
            'text': 'STUDY DETAILS\n',
            'style': 'header'
        },
        '\nThe summary details of the Stage Gate study being assessed are given below:\n\n',
        {
          'ul': [
            'Name: ' + studyParams.study_name,
            'Description: ' + studyParams.description,
            'Threshold settings: ' + studyParams.threshold_settings,
            'Selected Stage: ' + studyParams.selected_stage,
            'Selected Stage Gate: ' + studyParams.selected_stage_gate
          ]
        },
        '\n'
      ];
    },
    makeChecklist() {
      let sectionRequest = this.reportData.section_request;
      this.checklistSection = [
        {
          'text': 'ACTIVITY CHECKLIST RESULTS',
          'style': 'header'
        },
        '\n',
      ]
      if (sectionRequest.checklist_summary) {
        this.makeChecklistSummary();
      }
      if (sectionRequest.checklist_stage_results) {
        this.makeChecklistBars();
      }
      if (sectionRequest.checklist_outstanding_activities) {
        this.checklistSection.push(...this.reportData.outstanding_activities)
      }
    },
    makeChecklistSummary() {
      let checklistResults = [
        {
          'text': '% activities complete',
          'italics': true
        }
      ].concat(this.reportData.checklist_summary);
      this.checklistSection.push(
        {
          'text': 'SUMMARY',
          'style': 'subheader'
        },
        '\n',
        {
          'text': 'The table below summarises the percentage of activities completed in each of the stages in the Stage Gate framework.\n',
          'alignment': 'justify'
        },
        '\n',
        {
          'style': 'tableExample',
          'table': {
            'headerRows': 1,
            'widths': ['auto', '*', '*', '*', '*', '*', '*'],
            'body': [
              [
                {'text': '', 'style': 'tableHeader', 'fillColor': this.dtoBlue},
                {'text': 'Stage 0', 'style': 'tableHeader', 'fillColor': this.dtoBlue},
                {'text': 'Stage 1', 'style': 'tableHeader', 'fillColor': this.dtoBlue},
                {'text': 'Stage 2', 'style': 'tableHeader', 'fillColor': this.dtoBlue},
                {'text': 'Stage 3', 'style': 'tableHeader', 'fillColor': this.dtoBlue},
                {'text': 'Stage 4', 'style': 'tableHeader', 'fillColor': this.dtoBlue},
                {'text': 'Stage 5', 'style': 'tableHeader', 'fillColor': this.dtoBlue}
              ],
              checklistResults
            ]
          }
        },
        '\n'
      );
    },
    makeChecklistBars() {
      let studyParams = this.reportData.study_params;
      let activityBar = this.generateBarChart(this.reportData.checklist_bar_charts.activity_category, this.$refs.actCatBar);
      let evaluationBar = this.generateBarChart(this.reportData.checklist_bar_charts.evaluation_area, this.$refs.evalAreaBar);
      this.checklistSection.push(
        {
            'text': 'DETAILED RESULTS FOR STAGE ' + studyParams.stage_index,
            'style': 'subheader'
        },
        '\n',
        {
            'text': "Below are two bar-charts summarising the percentage of completed activities for Stage " + studyParams.stage_index + ", categorised by both activity category and evaluation area.",
            'alignment': 'justify'
        },
        {
          'text': '',
          'pageBreak': 'before'
        },
        {
          'svg': activityBar,
          'width': this.barChartWidth
        },
        {
          'text': '',
          'pageBreak': 'before'
        },
        {
          'svg': evaluationBar,
          'width': this.barChartWidth,
        },
        {
          'text': '',
          'pageBreak': 'before'
        },
      )
    },
    generateBarChart(barData, svgRef) {
      Plotly.newPlot(
          svgRef,
          barData.data,
          barData.layout
        ).then(function(gd){
          // console.log(gd.querySelectorAll('.main-svg')[0].outerHTML)
          // return gd.querySelectorAll('.main-svg')[0].outerHTML;
        });

      let svgPlotA = svgRef.querySelectorAll('.main-svg')[0].outerHTML;
      let svgPlotB = svgRef.querySelectorAll('.main-svg')[1].outerHTML;
       return "<svg>" + svgPlotA + svgPlotB + "</svg>";
    },
    makeApplicant() {
      let sectionRequest = this.reportData.section_request;
      this.applicantSection = [
        {
          'pageBreak': 'before',
          'text': 'APPLICANT MODE RESULTS',
          'style': 'header'
        },
        '\n',
      ]
      if (sectionRequest.applicant_summary) {
        this.applicantSection.push(...this.reportData.applicant_summary);
      }
      if (sectionRequest.metric_results) {
        this.applicantSection.push(...this.reportData.metric_results);
      }
      if (sectionRequest.applicant_answers) {
        this.applicantSection.push(...this.reportData.applicant_answers);
      }
    },
    makeAssessor() {
      let sectionRequest = this.reportData.section_request;
      this.assessorSection = [
        {
          'pageBreak': 'before',
          'text': 'ASSESSOR MODE RESULTS',
          'style': 'header'
        },
        '\n',
      ]
      if (sectionRequest.assessor_overall_scores) {
        this.makeOverallAssessorBar();
      }
      if (sectionRequest.assessor_question_categories) {
        this.makeQuestionCategoryAssessorBar();
      }
      if (sectionRequest.assessor_scores_comments) {
        this.assessorSection.push(...this.reportData.assessor_scores_comments)
      }
    },
    makeOverallAssessorBar() {
      let overallAssessorBar = this.generateBarChart(this.reportData.assessor_overall_scores, this.$refs.overallAssessorBar);
      this.assessorSection.push(
        {
          'text': 'OVERALL SCORES',
          'style': 'subheader'
        },
        '\n',
        {
            'text': "The average and weighted average overall Assessor Scores for " + this.reportData.study_params.selected_stage_gate + " are shown in the bar chart below.",
            'alignment': 'justify'
        },
        {
            'svg': overallAssessorBar,
            'width': this.barChartWidth
        },
        '\n',
      );
    },
    makeQuestionCategoryAssessorBar() {
      let qcatAssessorBar = this.generateBarChart(this.reportData.assessor_question_categories, this.$refs.qCatAssessorBar);
      this.assessorSection.push(
        {
          'pageBreak': 'before',
          'text': 'QUESTION CATEGORY SCORES',
          'style': 'subheader'
        },
        '\n',
        {
          'text': "The weighted average and average Assessor Scores for each Question Category are shown in the figure below.",
          'alignment': 'justify'
        },
        {
          'svg': qcatAssessorBar,
          'width': this.barChartWidth
        },
        '\n'
      )
    },
    pdfGen() {
      const studyName = this.studyData.name;
      const logo = this.logos.DTOP_LOGO;
      const date = this.reportData.study_params.date;
      var pdfMake = require('pdfmake/build/pdfmake.js')
      if (pdfMake.vfs == undefined){
        var pdfFonts = require('pdfmake/build/vfs_fonts.js')
        pdfMake.vfs = pdfFonts.pdfMake.vfs;
      }
      pdfMake.fonts = {
        SourceSansPro: {
          normal: 'http://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7gujVj9w.ttf',
          bold: 'http://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr3cOWxw.ttf',
          italics: 'http://fonts.gstatic.com/s/sourcesanspro/v13/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDdB9cme.ttf',
          bolditalics: 'http://fonts.gstatic.com/s/sourcesanspro/v13/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDdB9cme.ttf'
        }
      };
      var docDefinition = {
        content: this.reportContent,
        styles: this.styles,
        defaultStyle: {
          font: 'SourceSansPro'
        },
        pageMargins: [ 60, 90, 60, 80 ],
        footer: function(currentPage, pageCount) {
          if ((currentPage === 1) || (currentPage === pageCount)) {
            return {}
          } else {
            return {
              margin: [60, 0, 60, 60],
              columns: [
                {
                  text: '',
                  width: 45,
                  alignment: "left"
                },
                {
                  alignment: "center",
                  width: '*',
                  text: date + ' - Stage Gate - Summary report ',
                  opacity: 0.6
                },
                {
                  alignment: "right",
                  width: 60,
                  text: '\nPage ' + currentPage.toString() + ' | ' + pageCount,
                  opacity: 0.6
                }
              ]
            }
          };
        },
        header: function(currentPage, pageCount) {
          if ((currentPage === 1) || (currentPage === pageCount)) {
            return {}
          }
          else {
            return [{
              columns: [
                {
                  text: studyName,
                  alignment: "left",
                  width: '*',
                  opacity: 0.6
                },
                {
                  svg: logo,
                  alignment: "right",
                  width: 100,
                },
              ],
                margin: [60, 20, 60, 0]
            },
            {
              canvas: [{ type: 'rect',
                x: 0, y: 20, w: 535, h: 3,
                linearGradient: ['#022c5f', '#f7f9fa'] }]
            }];
          }
        },
      }
      if (window.Cypress) {
        this.$message({
          message: 'Report was compiled successfully',
          type: 'success'
        });
        return;
      }
      pdfMake.createPdf(docDefinition).download('dtoceanplus_stage_gate_report.pdf');
    }
  },
  computed: {
    stageIndexRequired() {
      if (this.requestedKeys.some(i => this.stageRequiredList.includes( i ) )){
        return true
      } else {
        return false
      }
    },
    stageGateIndexRequired() {
      if (this.requestedKeys.some(i => this.stageGateRequiredList.includes( i ) )){
        return true
      } else {
        return false
      }
    },
    applicantDisabled() {
      if (this.sgAssessmentData.some(sg => sg.applicant_complete)) {
        return false
      } else {
        return true
      }
    },
    assessorDisabled() {
      if (this.sgAssessmentData.some(sg => sg.assessor_complete)) {
        return false
      } else {
        return true
      }
    },
    iaThresholdRequired() {
      if (this.requestedKeys.includes(14)) {
        return true
      } else {
        return false
      }
    },
    reportButtonDisabled() {
      if (
        this.requestedKeys.length === 0 ||
        (this.stageIndexRequired && this.stageIndex === null) ||
        (this.stageGateIndexRequired && this.stageGateIndex === null)
      ){
        return true
      } else {
        return false
      }
    },
    stageGateOptions() {
      var data = [{
        value: 0,
        label: 'Stage Gate 0 - 1',
        disabled: this.checkStageGateDisabled(0)
      }, {
        value: 1,
        label: 'Stage Gate 1 - 2',
        disabled: this.checkStageGateDisabled(1)
      }, {
        value: 2,
        label: 'Stage Gate 2 - 3',
        disabled: this.checkStageGateDisabled(2)
      }, {
        value: 3,
        label: 'Stage Gate 3 - 4',
        disabled: this.checkStageGateDisabled(3)
      }, {
        value: 4,
        label: 'Stage Gate 4 - 5',
        disabled: this.checkStageGateDisabled(4)
      }];
      return data
    },
    inputData() {
      var data = [{
        id: 1,
        label: 'Activity Checklist',
        children: [{
          id: 5,
          label: 'Summary'
        }, {
          id: 6,
          label: 'Detailed breakdown of Stage results'
        }, {
          id: 7,
          label: 'Outstanding Activities'
        }]
      }, {
        id: 2,
        label: 'Applicant Mode',
        disabled: this.applicantDisabled,
        children: [{
          id: 8,
          label: 'Summary',
          disabled: this.applicantDisabled,
        }, {
          id: 9,
          label: 'Metric Results',
          disabled: this.applicantDisabled,
        }, {
          id: 10,
          label: 'Applicant Answers',
          disabled: this.applicantDisabled,
        }]
      }, {
        id: 3,
        label: 'Assessor Mode',
        disabled: this.assessorDisabled,
        children: [{
          id: 11,
          label: 'Overall Scores',
          disabled: this.assessorDisabled
        }, {
          id: 12,
          label: 'Question Category Scores',
          disabled: this.assessorDisabled
        }, {
          id: 13,
          label: 'Assessor Scores and Comments',
          disabled: this.assessorDisabled
        }]
      }, {
        id: 14,
        label: 'Improvement Areas'
      }];
      return data
    }
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
