<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <h1>
      Stage Gate Studies
    </h1>
    <el-row class="bg-white">
      <p>
        Below you will find a list of the existing Stage Gate studies.
        A Stage Gate study is the entity that is used to record and save the input and output data associated with a single analysis in the Stage Gate tool.
      </p>
      <p>
        Stage Gate studies must be given a name.
        An optional description of the study can also be specified.
        Finally, each Stage Gate study must be associated with a single Threshold set (see the <b>Framework</b> component for more details)
      </p>
      <p>
        Use the <b>Create Stage Gate study</b> button to create a new Stage Gate study.
        You can also compare two or more Stage Gate studies using the <b>Compare Stage Gate studies</b> button.
        You can only compare studies that have used the same set of metric thresholds.
      </p>
    </el-row>
    <br><br><br>
    <el-row>
      <el-button
        type="success"
        size="mini"
        @click="dialogFormVisible = true"
        data-cy-sg="createSgStudyBtn">
        Create Stage Gate study
      </el-button>
      <el-button
        type="primary"
        size="mini"
        @click="onCompareStudies"
        data-cy-sg="compareSgStudyBtn">
        Compare Stage Gate studies
      </el-button>
    </el-row>
    <el-dialog title="Create a Stage Gate study" :visible.sync="dialogFormVisible">
      <el-form :model="addStudyForm">
        <el-form-item label="Name" :label-width="formLabelWidth">
          <el-input v-model="addStudyForm.name" autocomplete="off" data-cy-sg="input"></el-input>
        </el-form-item>
        <el-form-item label="Description" :label-width="formLabelWidth">
          <el-input v-model="addStudyForm.description" autocomplete="off" data-cy-sg="createStudyFormDesc">></el-input>
        </el-form-item>
        <el-form-item label="Threshold settings" :label-width="formLabelWidth">
          <el-select v-model="addStudyForm.framework_id" placeholder="Select" data-cy-sg="select">
            <el-option
              v-for="f in frameworks"
              :key="f.id"
              :label="f.name"
              :value="f.id"
              :data-cy-sg="`selectItem${f.id}`">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="success" @click="onSubmit" data-cy-sg="submitCreateButton">Create</el-button>
      </span>
    </el-dialog>
    <br><br>
    <el-table :data="sg_studies" style="width: 100%">
      <el-table-column
        prop="name"
        label="Name"
        width="180">
      </el-table-column>
      <el-table-column
        prop="description"
        label="Description"
        width="300">
      </el-table-column>
      <el-table-column
        prop="framework"
        label="Threshold set"
        width="300">
      </el-table-column>
      <el-table-column
        label="Operations">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            @click="onSelectStudy(scope.row)"
            :data-cy-sg="`viewStudyBtn${scope.row.id}`">Select</el-button>
          <el-button
            size="mini"
            type="warning"
            @click="editStudy(scope.row)"
            :data-cy-sg="`editStudyBtn${scope.row.id}`">Re-name study</el-button>
          <el-button
            size="mini"
            type="danger"
            @click="onDeleteStudy(scope.row)"
            :data-cy-sg="`deleteStudyBtn${scope.row.id}`">Delete</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="Update a Stage Gate study" :visible.sync="dialogUpdateFormVisible">
      <el-form :model="editForm">
        <el-form-item label="Name" :label-width="formLabelWidth">
          <el-input v-model="editForm.name" autocomplete="off" data-cy-sg="editStudyFormName"></el-input>
        </el-form-item>
        <el-form-item label="Description" :label-width="formLabelWidth">
          <el-input v-model="editForm.description" autocomplete="off" data-cy-sg="editStudyFormDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="warning" @click="onSubmitUpdate" data-cy-sg="confirmUpdateStudyBtn">Update</el-button>
      </span>
    </el-dialog>
    <el-dialog title="Delete a Stage Gate study" :visible.sync="dialogDeleteVisible">
      <span>Are you sure you want to delete the following study?</span><br><br>
      <span><b>Name: </b>{{ this.deleteForm.name }}</span><br>
      <span><b>Description: </b>{{ this.deleteForm.description }}</span><br>
      <span><b>Threshold set: </b>{{ this.deleteForm.framework }}</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="danger" @click="removeStudy" data-cy-sg="submitDeleteButton">Delete</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      sg_studies: [],
      addStudyForm: {
        name: '',
        description: '',
        framework_id: '',
        framework: ''
      },
      editForm: {
        id: '',
        name: '',
        description: '',
      },
      deleteForm: {
        id: '',
        name: '',
        description: '',
        framework_id: '',
        framework: ''
      },
      dialogFormVisible: false,
      dialogUpdateFormVisible: false,
      dialogDeleteVisible: false,
      formLabelWidth: '200px',
      frameworks: [],
    }
  },
  methods: {
    async getStudies () {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/`
      let result = null

      try {
        result = await axios.get(path)
        this.sg_studies = result.data.stage_gate_studies
      } catch (error) {
        console.log(error)
      }
    },
    getFrameworks () {
      const path = `${process.env.VUE_APP_API_URL}/api/frameworks/`
      axios.get(path)
        .then((res) => {
          this.frameworks = res.data.frameworks
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    onSelectStudy (row) {
      this.$router.push({ name: 'SgStudiesHome', params: { study_id: row.id } })
    },
    async addStudy (payload) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/`
      let result = null

      try {
        result = await axios.post(path, payload)
        result = result.data
        this.studyMessage('Study added', 'success')
      } catch (error) {
        this.studyMessage('Operation cancelled. Unique study name required.', 'warning')
      }

      this.getStudies()
    },
    updateStudy (payload, studyID) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${studyID}`
      axios.put(path, payload)
        .then(() => {
          this.getStudies()
          this.studyMessage('Study updated', 'success')
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
          this.getStudies()
          this.studyMessage('Operation cancelled. Unique study name required.', 'warning')
        })
    },
    editStudy (row) {
      this.editForm.id = row.id
      this.editForm.name = row.name
      this.editForm.description = row.description
      this.dialogUpdateFormVisible = true
    },
    async removeStudy () {
      this.dialogDeleteVisible = false
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${this.deleteForm.id}`
      let result = null

      try {
        result = await axios.delete(path)
        result = result.data
        this.studyMessage('Study deleted', 'success')
      } catch (error) {
        console.log(error)
      }

      this.getStudies()

    },
    onDeleteStudy (row) {
      this.dialogDeleteVisible = true
      this.deleteForm.id = row.id
      this.deleteForm.name = row.name
      this.deleteForm.description = row.description
      this.deleteForm.framework = row.framework
      this.deleteForm.framework_id = row.framework_id
    },
    initForm () {
      this.addStudyForm.name = ''
      this.addStudyForm.description = ''
      this.addStudyForm.framework = ''
      this.addStudyForm.framework_id = ''
      this.editForm.id = ''
      this.editForm.name = ''
      this.editForm.description = ''
      this.deleteForm.id = ''
      this.deleteForm.name = ''
      this.deleteForm.description = ''
      this.deleteForm.framework_id = ''
      this.deleteForm.framework = ''
    },
    onSubmit () {
      this.dialogFormVisible = false
      const payload = {
        name: this.addStudyForm.name,
        description: this.addStudyForm.description,
        framework_id: this.addStudyForm.framework_id
      }
      this.addStudy(payload)
      this.initForm()
    },
    onCancel () {
      this.dialogFormVisible = false
      this.dialogUpdateFormVisible = false
      this.dialogDeleteVisible = false
      this.operationMessage('Operation cancelled')
      this.initForm()
      this.getStudies()
    },
    onSubmitUpdate () {
      this.dialogUpdateFormVisible = false
      const payload = {
        name: this.editForm.name,
        description: this.editForm.description
      }
      this.updateStudy(payload, this.editForm.id)
    },
    studyMessage (content, msgType) {
      this.$message({
        message: content,
        type: msgType
      })
    },
    operationMessage (content) {
      this.$message({
        message: content
      })
    },
    onCompareStudies(row) {
      this.$router.push({ name: 'SgStudyComparisonHome' })
    },
  },
  async created () {
    await this.getStudies()
    await this.getFrameworks()
  }
}
</script>

<style>
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
