<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-header>
      <h1>Assessor Mode Output Page for {{ appStageGateData.stage_gate }}</h1>
      <br>
      <el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button>
      <br><br><br>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <b>Stage Gate Study: </b> <span data-cy-sg="title">{{ studyData.name }}</span>
        </el-col>
        <el-col :span="8">
          <b>Description: </b> {{ studyData.description }}
        </el-col>
        <el-col :span="8">
          <b>Threshold settings: </b> {{ studyData.framework }}
        </el-col>
      </el-row>
    </el-header>
    <br><br><br><br><br><br><br>
    <div>
      <el-main>
        <el-row class="bg-white">
          <p>
            The Assessor Mode results are shown below.
            Bar-charts for the weighted average and average assessor scores are shown for the Stage Gate as well as for the qualitative questions and evaluation areas, where applicable.
            The Assessor scores and comments are also disaplyed near the bottom of the page.
          </p>
        </el-row>
        <br><br><br><br>
        <h2>Overall score for Stage Gate</h2>
          <ul v-for="sr in stageResults" :key="sr.id">
            <bar-chart :bar_chart_data="sr"></bar-chart>
          </ul>
        <br>
        <div v-if="appStageGateData.stage_gate !== 'Stage Gate 3 - 4' && appStageGateData.stage_gate !== 'Stage Gate 4 - 5'">
          <h2>Qualitative question scores</h2>
            <grouped-bar-chart
              :bar_chart_data="questionCategoryResults"
              :xAxisProps="xAxisProps"></grouped-bar-chart>
          <br>
        </div>
        <div v-if="appStageGateData.stage_gate !== 'Stage Gate 0 - 1'">
          <h2>Evaluation Area scores</h2>
            <grouped-bar-chart
              :bar_chart_data="evaluationAreaResults"
              :xAxisProps="xAxisProps"></grouped-bar-chart>
          <br>
        </div>
        <h2 data-cy-sg="assessorScoreComments">Assessor Scores and Comments</h2>
          <div v-if="appStageGateData.stage_gate !== 'Stage Gate 3 - 4' && appStageGateData.stage_gate !== 'Stage Gate 4 - 5'">
          <h3>Qualitative questions</h3>
            <el-tabs type="border-card" tab-position="left" >
              <el-tab-pane
                v-for="item in qualitativeQuestions"
                :key="item.id"
                :label="item.name"
                :name="item.name">
                <p v-html="item.description" v-if="item.description !== 'none'"></p>
                <el-collapse v-model="activeNames">
                  <el-collapse-item v-for="q in item.questions" :key="q.name" :name="q.name" :title="q.name">
                    <ul>
                      <li>
                        <p><b>Description:</b> <span v-html=q.description></span></p>
                      </li>
                      <li>
                        <span><b>Weighting (%):</b> {{ q.weighting }}</span>
                      </li>
                      <li>
                        <span><b>Response:</b> {{ q.applicant_results.response }}</span>
                      </li>
                      <li>
                      <span><b>Scoring criteria:</b></span>
                      <ul :key="sc.id" v-for="sc in q.scoring_criteria">
                        <li>
                          <p>
                            <span>Description: <i>{{ sc.description }}</i></span>
                          </p>
                          <p>
                            <span>Comment: {{ sc.comment.comment }}</span>
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <span><b>Assessor Score: </b>{{ q.score.score }} </span>
                    </li>
                    </ul>
                  </el-collapse-item>
                </el-collapse>
              </el-tab-pane>
            </el-tabs>
            <br><br><br>
          </div>
          <div v-if="appStageGateData.stage_gate !== 'Stage Gate 0 - 1'">
            <h3>Quantitative questions</h3>
            <el-table
              ref="filterTable"
              :data="quantitativeQuestions"
              style="width: 100%">
              <el-table-column
                type="expand"
                label="View/Edit"
                width="100">
                <template slot-scope="props">
                  <ul>
                    <li>
                      <p><b>Metric description:</b> <span v-html=props.row.description></span></p>
                    </li>
                    <li>
                      <p><b>Result:</b> <span v-html=props.row.result></span></p>
                    </li>
                    <li>
                      <p><b>Justification:</b> <span v-html=props.row.justification></span></p>
                    </li>
                    <div v-if="isThresholdApplied(props.row)">
                      <li >
                        <p><span><b>Threshold:</b> {{ props.row.threshold }}</span></p>
                      </li>
                      <li >
                        <p><span><b>Threshold passed:</b> {{ returnThresholdPassed(props.row) }}</span></p>
                      </li>
                    </div>
                    <div v-if="isThresholdFailed(props.row)">
                      <li >
                        <p><span><b>Absolute distance:</b> {{ props.row.absolute_distance }}</span></p>
                      </li>
                      <li>
                        <p><span><b>Percentage distance:</b> {{ props.row.percent_distance }}</span></p>
                      </li>
                    </div>
                    <li>
                      <span><b>Scoring criteria:</b></span>
                      <ul :key="sc.id" v-for="sc in props.row.scoring_criteria">
                        <li>
                          <p>
                            <span>Description: <i>{{ sc.description }}</i></span>
                          </p>
                          <p>
                            <span>Comment: {{ sc.comment.comment }}</span>
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <span><b>Assessor Score: </b>{{ props.row.score.score }} </span>
                    </li>
                  </ul>
                </template>
              </el-table-column>
              <el-table-column
                prop="metric"
                label="Metric"
                width="450">
              </el-table-column>
              <el-table-column
                prop="unit"
                label="Unit"
                width="180">
              </el-table-column>
              <el-table-column
                prop="evaluation_area"
                label="Evaluation Area"
                width="180"
                column-key="evaluation_area"
                :filters="this.evalAreas"
                :filter-method="filterHandler">
              </el-table-column>
              <el-table-column
                prop="weighting"
                label="Weighting (%)"
                width="180">
              </el-table-column>
              <el-table-column
                prop="threshold_type"
                label="Threshold type"
                width="140">
                <template
                  slot="header">
                  <el-popover
                    ref="fromPopOver1"
                    placement="top-start"
                    width="250"
                    trigger="hover">
                    <span>
                    Metric results pass if they are lower <br>
                    than 'upper' thresholds or greater <br>
                    than 'lower' thresholds
                    </span>
                  </el-popover>
                  <span>Threshold type <i
                    v-popover:fromPopOver1
                    class="el-icon-info"/>
                  </span>
                </template>
              </el-table-column>
              <el-table-column
                prop="threshold"
                label="Threshold"
                width="100">
              </el-table-column>
              <el-table-column
                prop="result"
                label="Result">
              </el-table-column>
            </el-table>
          </div>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import BarChart from '@/components/BarChart';
import GroupedBarChart from '@/components/GroupedBarChart';
import colorMap from '@/utils/colour-pallete.js';

export default {
  components:{
    BarChart,
    GroupedBarChart
  },
  data() {
    return {
      studyData: [],
      appStageGateData: [],
      activeNames: [],
      stageResults: {},
      questionCategoryResults: [],
      evaluationAreaResults: [],
      assessorStageGateData: {},
      xAxisProps: {
        tickmode: 'array',
        tickvals: [0, 1, 2, 3, 4],
        ticktext: ['Unacceptable', 'Poor', 'Acceptable', 'Good', 'Excellent'],
        range: [-0.2, 4.2],
        title: "Assessor score"
      },
      qualitativeQuestions: [],
      quantitativeQuestions: [],
      evalAreas: [
        {text: 'Acceptability', value: 'Acceptability'},
        {text: 'Installability', value: 'Installability'},
        {text: 'Availability', value: 'Availability'},
        {text: 'Maintainability', value: 'Maintainability'},
        {text: 'Reliability', value: 'Reliability'},
        {text: 'Survivability', value: 'Survivability'},
        {text: 'Affordability', value: 'Affordability'},
        {text: 'Manufacturability', value: 'Manufacturability'},
        {text: 'Power Capture', value: 'Power Capture'},
        {text: 'Power Conversion', value: 'Power Conversion'},
        {text: 'Controllability', value: 'Controllability'}
      ],
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.appStageGateData = this.$route.params.app_stage_gate_data
    this.getAssessorResults(this.appStageGateData.id)
  },
  methods: {
    getColour: colorMap.customColorMethod,
    goBack() {
      this.$router.push({ name: 'AssessorHome', params: {study_data: this.studyData }})
    },
    getAssessorResults() {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${this.appStageGateData.id}/assessor-results`
      axios.get(path)
        .then((res) => {
          this.stageResults = res.data.overall
          this.questionCategoryResults = res.data.question_categories
          this.evaluationAreaResults = res.data.evaluation_areas
          this.assessorStageGateData = res.data.responses
          this.separateQuestionData();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    isThresholdApplied(q) {
      if (q.threshold_bool) {
          return true;
      } else {
        return false;
      }
    },
    isThresholdFailed(q) {
      if (q.threshold_bool && !q.threshold_passed) {
        return true;
      } else {
        return false;
      }
    },
    returnThresholdPassed(q) {
      if (q.threshold_bool && q.threshold_passed) {
        return "Yes";
      } else {
        return "No";
      }
    },
    filterHandler(value, row, column) {
      const property = column['property'];
      return row[property] === value;
    },
    separateQuestionData() {
      this.qualitativeQuestions = this.assessorStageGateData.question_categories.filter(q_cat => q_cat.questions.some(q => q.question_metric === null));
      this.quantitativeQuestions = this.assessorStageGateData.question_categories
        .filter(q_cat => q_cat.questions.some(q => q.question_metric !== null))
        .map(q_cat => q_cat.questions.map(q => Object({
          applicant_id: q.applicant_results.id,
          metric: q.question_metric.metric.name,
          unit: q.question_metric.metric.unit,
          threshold_type: q.question_metric.metric.threshold_type,
          threshold: q.question_metric.threshold,
          threshold_bool: q.question_metric.threshold_bool,
          threshold_passed: q.applicant_results.threshold_passed,
          weighting: q.weighting,
          evaluation_area: q.question_metric.metric.evaluation_area.name,
          result: q.applicant_results.result,
          justification: q.applicant_results.justification,
          absolute_distance: q.applicant_results.absolute_distance,
          percent_distance: q.applicant_results.percent_distance,
          scoring_criteria: q.scoring_criteria,
          score: q.score,
          description: q.description
        }))).flat();
    },
  }
}
</script>

<style>
.chart-wrapper {
  width: 100%;
  height:700px;
}
.bg-white {
  background: white;
  border-radius: 4px;
  padding: 10px 20px;
}
</style>
