<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-tabs v-model="category">
      <el-tab-pane label="Qualitative Questions" name="qual_questions" :disabled="this.qualitativeEmpty">
        <el-tabs type="border-card" tab-position="left" >
          <el-tab-pane
            v-for="item in qualitativeQuestions"
            :key="item.id"
            :label="item.name"
            :name="item.name">
            <p v-html="item.description" v-if="item.description !== 'none'"></p>
            <el-collapse v-model="activeNames">
              <el-collapse-item v-for="q in item.questions" :key="q.name" :name="q.name" :title="q.name">
                <ul>
                  <li>
                    <p><b>Description:</b> <span v-html=q.description></span></p>
                  </li>
                  <li>
                    <span><b>Weighting (%):</b> {{ q.weighting }}</span>
                  </li>
                  <li>
                    <span><b>Scoring criteria:</b></span>
                    <ul :key="sc.id" v-for="sc in q.scoring_criteria">
                      <li>
                        <span>{{ sc.description }}</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </el-collapse-item>
            </el-collapse>
          </el-tab-pane>
        </el-tabs>
      </el-tab-pane>
      <el-tab-pane label="Quantitative Questions" name="quant_questions" :disabled="this.quantitativeEmpty">
        <el-table
          ref="filterTable"
          :data="quantitativeQuestions"
          style="width: 100%">
          <el-table-column
            type="expand"
            label="Details"
            width="100">
            <template slot-scope="props">
              <b>Metric description</b>
              <br><br>
              <div v-html="props.row.description"></div>
            </template>
          </el-table-column>
          <el-table-column
            prop="metric"
            label="Metric"
            width="450">
          </el-table-column>
          <el-table-column
            prop="unit"
            label="Unit"
            width="180">
          </el-table-column>
          <el-table-column
            prop="evaluation_area"
            label="Evaluation Area"
            width="180"
            column-key="evaluation_area"
            :filters="this.evalAreas"
            :filter-method="filterHandler">
          </el-table-column>
          <el-table-column
            prop="weighting"
            label="Weighting (%)"
            width="180">
          </el-table-column>
          <el-table-column
            prop="threshold_type"
            label="Threshold type"
            width="140">
            <template
              slot="header">
              <el-popover
                ref="fromPopOver1"
                placement="top-start"
                width="250"
                trigger="hover">
                <span>
                Metric results pass if they are lower <br>
                than 'upper' thresholds or greater <br>
                than 'lower' thresholds
                </span>
              </el-popover>
              <span>Threshold type <i
                v-popover:fromPopOver1
                class="el-icon-info"/>
              </span>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
export default {
  props: [
    'stageGateData',
    'frameworkId'
  ],
  data() {
    return {
      category: '',
      activeNames: [],
      evalAreas: [
        {text: 'Acceptability', value: 'Acceptability'},
        {text: 'Installability', value: 'Installability'},
        {text: 'Availability', value: 'Availability'},
        {text: 'Maintainability', value: 'Maintainability'},
        {text: 'Reliability', value: 'Reliability'},
        {text: 'Survivability', value: 'Survivability'},
        {text: 'Affordability', value: 'Affordability'},
        {text: 'Manufacturability', value: 'Manufacturability'},
        {text: 'Power Capture', value: 'Power Capture'},
        {text: 'Power Conversion', value: 'Power Conversion'},
        {text: 'Controllability', value: 'Controllability'}
      ],
      updateMetricForm: {
        id: '',
        threshold: '',
        threshold_bool: true
      },
      metricUpdateFormVisible: false,
      formLabelWidth: '240px'
    };
  },
  methods: {
    filterHandler(value, row, column) {
      const property = column['property'];
      return row[property] === value;
    },
  },
  computed: {
    qualitativeQuestions() {
      return this.stageGateData.filter(q_cat => q_cat.questions.some(q => q.question_metric === null))
    },
    quantitativeQuestions() {
      let q = this.stageGateData
        .filter(q_cat => q_cat.questions.some(q => q.question_metric !== null))
        .map(q_cat => q_cat.questions.map(q => Object({
          metric: q.question_metric.metric.name,
          unit: q.question_metric.metric.unit,
          threshold_type: q.question_metric.metric.threshold_type,
          threshold: q.question_metric.threshold,
          threshold_bool: q.question_metric.threshold_bool,
          weighting: q.weighting,
          evaluation_area: q.question_metric.metric.evaluation_area.name,
          description: q.description
        }))).flat();
      return q
    },
    qualitativeEmpty() {
      if (this.qualitativeQuestions.length === 0) {
        return true
      } else {
        return false
      }
    },
    quantitativeEmpty() {
      if (this.quantitativeQuestions.length === 0) {
        return true
      } else {
        return false
      }
    },
  }
}
</script>
