<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-header>
      <h1>Activity Checklist Input Page</h1>
      <br>
      <el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button>
      <br><br><br>
      <el-row type="flex" justify="center">
        <el-col :span="8">
          <b>Stage Gate Study: </b> <span data-cy-sg="title">{{ studyData.name }}</span>
        </el-col>
        <el-col :span="8">
          <b>Description: </b> {{ studyData.description }}
        </el-col>
        <el-col :span="8">
          <b>Threshold settings: </b> {{ studyData.framework }}
        </el-col>
      </el-row>
    </el-header>
    <br><br><br><br><br><br><br><br><br>
    <div>
    </div>
    <div>
      <el-main>
        <el-row class="bg-white">
          <p>
            This is the Activity Checklist feature.
            It helps the user identify the stage that they have reached in the technology development process.
            This feature presents the set of activities that need to be completed at each Stage in the form of a checklist.
            The feature can be used to quickly identify the technology readiness level of a device or technology.
            It can also be used to highlight the outstanding activities that are required to complete a specific Stage.
            Users can treat the Activity Checklist as an interactive reference document, saving their progress and returning to the checklist throughout the development of their technology.
          </p>
          <p>
            You can browse through the activities required at each Stage by clicking the relevant buttons and tabs below.
            Activities can be categorised by <b>Activity Category</b> or <b>Evaluation Area</b>.
          </p>
        </el-row>
        <el-row type="flex" justify="center">
          <svg width="60%" viewBox="0 0 20 5">
            <circle @click="toggleStage(0)" cx="2" cy="2.5" r="1" :fill="this.fills[0]" :stroke="this.colors[0]" stroke-width="0.05" />
            <text @click="toggleStage(0)" x="2" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage 0</text>
            <circle @click="toggleStage(1)" cx="5" cy="2.5" r="1" :fill="this.fills[1]" :stroke="this.colors[1]" stroke-width="0.05" />
            <text @click="toggleStage(1)" x="5" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em" data-cy-sg="getSecondStage">Stage 1</text>
            <circle @click="toggleStage(2)" cx="8" cy="2.5" r="1" :fill="this.fills[2]" :stroke="this.colors[2]" stroke-width="0.05" />
            <text @click="toggleStage(2)" x="8" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage 2</text>
            <circle @click="toggleStage(3)" cx="11" cy="2.5" r="1" :fill="this.fills[3]" :stroke="this.colors[3]" stroke-width="0.05" />
            <text @click="toggleStage(3)" x="11" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage 3</text>
            <circle @click="toggleStage(4)" cx="14" cy="2.5" r="1" :fill="this.fills[4]" :stroke="this.colors[4]" stroke-width="0.05" />
            <text @click="toggleStage(4)" x="14" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage 4</text>
            <circle @click="toggleStage(5)" cx="17" cy="2.5" r="1" :fill="this.fills[5]" :stroke="this.colors[5]" stroke-width="0.05" />
            <text @click="toggleStage(5)" x="17" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage 5</text>
          Sorry, your browser does not support inline SVG.
          </svg>
        </el-row>
        <el-row type="flex" justify="center">
          <el-col :span="8">
            <el-switch
              v-model="category"
              active-text="Evaluation Area"
              inactive-text="Activity Category"
              @change="activateData()"
            >
            </el-switch>
          </el-col>
          <el-col :span="8">
            <el-checkbox
              :indeterminate="stageIndeterminate"
              v-model="checkStage"
              @change="handleCheckStageChange"
              data-cy-sg="markStageComplete">Mark Stage as complete</el-checkbox>
          </el-col>
        </el-row>
        <br><br>
        <el-tabs type="border-card" tab-position="left" @tab-click="updateTab">
          <el-tab-pane v-for="stageCat in stageData" :key="stageCat.name" :label="stageCat.name" :name="stageCat.name">
            <el-row type="flex" justify="center">
              <el-col :span="6">
                <el-checkbox :indeterminate="categoryIndeterminate" v-model="checkCategory" @change="handleCheckCategoryChange">Mark category as complete</el-checkbox>
              </el-col>
            </el-row>
            <el-table
              ref="multipleTable"
              :data="stageCat.activities"
              style="width: 100%"
              data-cy-sg="checklistTable">
              <el-table-column
                type="expand">
                <template slot="header">
                  <i class="el-icon-info">
                  </i>
                </template>
                <template slot-scope="props">
                  <p><i v-html="props.row.description"></i></p>
                </template>
              </el-table-column>
              <el-table-column
                property="name"
                label="Activity"
                show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                label="Complete?"
                width="120">
                <template slot-scope="scope">
                  <el-checkbox-group v-model="selectedActivities" @change="handleCheckedActivitiesChange">
                    <el-checkbox :label=scope.row.id :data-cy-sg="`checklistCheckbox${scope.row.id}`">{{ empty }}</el-checkbox>
                  </el-checkbox-group>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
        <br><br><br>
        <h1>Live progress</h1>
        <el-row v-for="(p, id) in this.liveProgressData" :key="id">
          <el-col :span="2">
            Stage {{ id }}
          </el-col>
          <el-col :span="12">
            <el-progress :percentage="p" :color="getColour(p)"></el-progress>
          </el-col>
        </el-row>
        <br><br><br>
        <el-row type="flex" justify="space-around">
          <el-col :span="6">
            <el-button
              type="primary"
              data-cy-sg="saveButton"
              @click="onSaveChecklist()">Save</el-button>
          </el-col>
          <el-col :span="6">
            <el-button
              type="success"
              data-cy-sg="submitButton"
              @click="onSubmitChecklist()">View Results</el-button>
          </el-col>
        </el-row>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import colorMap from '@/utils/colour-pallete.js'

export default {
  data() {
    return {
      framework_data: [],
      stage_idx: 0,
      end_idx: '',
      stage_uri: '',
      stageName: '',
      studyData: [],
      stageData: [],
      activeNames: [],
      selectedActivities: [],
      stageIndeterminate: true,
      categoryIndeterminate: true,
      checkCategory: false,
      checkStage: false,
      category: false,
      drawer: false,
      empty: '',
      tabIndex: null,
      colors: [
        "#e30613",
        "#e94e0f",
        "#f49600",
        "#ffca00",
        "#95c11f",
        "#66bdcd"
      ],
      fills: [
        "#e30613",
        "white",
        "white",
        "white",
        "white",
        "white"
      ],
      stageActivityData: {}
    }
  },
  created() {
    this.studyData = this.$route.params.study_data;
    this.initialiseData(this.studyData.framework_id);
  },
  methods: {
    getColour: colorMap.customColorMethod,
    goBack() {
      this.$router.push({ name: 'SgStudiesHome', params: { study_id: this.studyData.id } })
    },
    initialiseData(frameworkID) {
      const path = `${process.env.VUE_APP_API_URL}/api/frameworks/${frameworkID}`
      axios.get(path)
        .then((res) => {
          this.framework_data = res.data
          this.end_idx = this.framework_data.stages.length - 1
          this.stage_uri = res.data.stages[this.stage_idx]
          this.getStageData(this.stage_uri)
          this.getChecklistData(this.studyData.id)
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    getStageData(uri) {
      const path = `${process.env.VUE_APP_API_URL}${uri}`
      axios.get(path)
        .then((res) => {
          this.stageName = res.data.name
          this.stageData = res.data.activity_categories
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    getChecklistData(studyID) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${studyID}/checklist-inputs`
      axios.get(path)
        .then((res) => {
          this.selectedActivities = res.data.completed_activities
          this.stageActivityData = res.data.stage_activities
          this.updateStageCheckbox();
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    getStageEvalData (uri) {
      const path = `${process.env.VUE_APP_API_URL}${uri}/eval`
      axios.get(path)
        .then((res) => {
          this.stageName = res.data.name
          this.stageData = res.data.evaluation_areas
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    activateData () {
      if (this.category) {
        this.getStageEvalData(this.stage_uri)
      } else  {
        this.getStageData(this.stage_uri)
      }
    },
    loadStage () {
      this.stage_uri = this.framework_data.stages[this.stage_idx]
      this.activateData()
    },
    toggleStage(idx) {
      this.fills = [
        "white",
        "white",
        "white",
        "white",
        "white",
        "white"
      ];
      this.stage_idx = idx;
      this.loadStage();
      this.fills[idx] = this.colors[idx];
    },
    updateTab(val) {
      this.tabIndex = val.index;
      this.updateCategoryCheckbox();
    },
    updateCategoryCheckbox() {
      if (this.visibleActivities.length === this.checkedVisibleActivities.length) {
        this.categoryIndeterminate = false;
        this.checkCategory = true;
      } else if (this.checkedVisibleActivities.length > 0) {
        this.categoryIndeterminate = true;
        this.checkCategory = false;
      } else {
        this.categoryIndeterminate = false;
        this.checkCategory = false;
      }
    },
    updateStageCheckbox() {
      if (this.stageActivities.length === this.checkedStageActivities.length) {
        this.stageIndeterminate = false;
        this.checkStage = true;
      } else if (this.checkedStageActivities.length > 0) {
        this.stageIndeterminate = true;
        this.checkStage = false;
      } else {
        this.stageIndeterminate = false;
        this.checkStage = false;
      }
    },
    handleCheckCategoryChange(val) {
      if (val) {
        this.selectedActivities.push(...this.uncheckedVisibleActivities);
        this.checkCategory = true;
      } else {
        let va = this.visibleActivities;
        this.selectedActivities = this.selectedActivities.filter(function(item) {
          return va.indexOf(item) == -1;
        });
        this.checkCategory = false;
      }
      this.categoryIndeterminate = false;
      this.updateStageCheckbox();
    },
    handleCheckStageChange(val) {
      if (val) {
        this.selectedActivities.push(...this.uncheckedStageActivities);
        this.checkStage = true;
      } else {
        let sa = this.stageActivities;
        this.selectedActivities = this.selectedActivities.filter(function(item) {
          return sa.indexOf(item) == -1;
        });
        this.checkStage = false;
      }
      this.stageIndeterminate = false;
      this.updateCategoryCheckbox();
    },
    handleCheckedActivitiesChange() {
      let checkedVisibleCount = this.checkedVisibleActivities.length;
      this.checkCategory = checkedVisibleCount === this.visibleActivities.length;
      this.categoryIndeterminate = checkedVisibleCount > 0 && checkedVisibleCount < this.visibleActivities.length;
      let checkedStageCount = this.checkedStageActivities.length;
      this.checkStage = checkedStageCount === this.stageActivities.length;
      this.stageIndeterminate = checkedStageCount > 0 && checkedStageCount < this.stageActivities.length;
    },
    onSaveChecklist() {
      const payload = {
        completed_activities: this.selectedActivities
      }
      this.saveChecklist(payload, this.studyData.id)
    },
    async onSubmitChecklist () {
      const payload = {
        completed_activities: this.selectedActivities
      };
      await this.saveChecklist(payload, this.studyData.id);
      this.openResultsPage();
    },
    saveChecklist(payload, studyID) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${studyID}/checklist-inputs`
      axios.put(path, payload)
        .then((res) => {
          this.$message({
            message: res.data.message,
            type: "success"
          })
        })
        .catch((error) => {
          //eslint-disable-next-line
          // console.error(error);
          this.$message({
            message: res.data,
            type: "error"
          })
        })
    },
    openResultsPage() {
      this.$router.push({ name: 'ChecklistOutput', params: { study_data: this.studyData } })
    },
    // openGlossary() {
    //   this.$router.push({ name: 'Example'})
    // }
  },
  computed: {
    visibleActivities() {
      if (this.tabIndex === null) {
        return []
      } else {
        return this.stageData[this.tabIndex].activities.map(item => item.id);
      }

    },
    checkedVisibleActivities() {
      let va = this.visibleActivities;
      return this.selectedActivities.filter(function(obj) {
          return va.indexOf(obj) >= 0;
      });
    },
    uncheckedVisibleActivities() {
      let cva = this.checkedVisibleActivities;
      return this.visibleActivities.filter(function(obj) {
          return cva.indexOf(obj) < 0;
      });
    },
    stageActivities() {
      return this.stageData.map(cat => cat.activities.map(act => act.id)).flat().filter((e, i, a) => a.indexOf(e) === i);
    },
    checkedStageActivities() {
      let sa = this.stageActivities;
      return this.selectedActivities.filter(function(obj) {
          return sa.indexOf(obj) >= 0;
      });
    },
    uncheckedStageActivities() {
      let csa = this.checkedStageActivities;
      return this.stageActivities.filter(function(obj) {
        return csa.indexOf(obj) < 0;
      })
    },
    liveProgressData() {
      let progressData = {};
      for (const stg in this.stageActivityData) {
        let count = 0;
        for (const act of this.stageActivityData[stg]) {
          if (this.selectedActivities.indexOf(act) >= 0) {
            count += 1;
          }
          progressData[stg] = Math.round(100 * count / this.stageActivityData[stg].length);
        }
      }
      return progressData
    },
  },
  watch: {
    // whenever stageData changes, this function will run
    stageData: function () {
      if (this.tabIndex) {
        this.updateCategoryCheckbox();
      }
      this.updateStageCheckbox();
    }
  }
}
</script>

<style>
  circle{
    cursor: pointer;
  }
  text{
    cursor: pointer;
  }
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
