<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <div>
      <h1>
        Framework Explorer
      </h1>
      <el-row class="bg-white">
        <p>
          Below you will find the Framework Explorer feature that allows the user to view the stage activity data and stage gate question data that is incorporated in the Stage Gate tool.
          Each of the Stages and Stage Gates can be expanded by clicking on the relevant button in the diagram.
          For the Stage data, the activities can be categorised by either <i>activity category</i> or <i>evaluation area</i>.
          For the Stage Gate data, the questions are split between qualitative and quantitative questions.
        </p>
        <p>
          A tutorial focusing on how to use the Framework Explorer is provided in the Stage Gate documentation.
        </p>
      </el-row>
    </div>
    <br>
    <div>
      <el-main>
        <el-row type="flex" justify="center">
          <svg width="100%" viewBox="0 0 44 5">
            <circle @click="toggleStage(0)" cx="2" cy="2.5" r="1" :fill="this.fillsStage[0]" :stroke="this.colors[0]" stroke-width="0.05" />
            <text @click="toggleStage(0)" x="2" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage 0</text>
            <rect @click="toggleStageGate(0)" transform="rotate(45)" x="5" y="1.5" width="2" height="2" :fill="this.fillsStageGate[0]" :stroke="this.colors[0]" stroke-width="0.05" data-cy-sg="getStageGate0to1"/>
            <text @click="toggleStageGate(0)" x="6" y="2" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage</text>
            <text @click="toggleStageGate(0)" x="6" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Gate</text>
            <text @click="toggleStageGate(0)" x="6" y="3" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">0 - 1</text>
            <circle @click="toggleStage(1)" cx="10" cy="2.5" r="1" :fill="this.fillsStage[1]" :stroke="this.colors[1]" stroke-width="0.05" />
            <text @click="toggleStage(1)" x="10" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage 1</text>
            <rect @click="toggleStageGate(1)" transform="rotate(45)" x="13" y="1.5" width="2" height="2" :fill="this.fillsStageGate[1]" :stroke="this.colors[1]" stroke-width="0.05"/>
            <text @click="toggleStageGate(1)" x="14" y="2" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage</text>
            <text @click="toggleStageGate(1)" x="14" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Gate</text>
            <text @click="toggleStageGate(1)" x="14" y="3" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">1 - 2</text>
            <circle @click="toggleStage(2)" cx="18" cy="2.5" r="1" :fill="this.fillsStage[2]" :stroke="this.colors[2]" stroke-width="0.05" />
            <text @click="toggleStage(2)" x="18" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage 2</text>
            <rect @click="toggleStageGate(2)" transform="rotate(45)" x="21" y="1.5" width="2" height="2" :fill="this.fillsStageGate[2]" :stroke="this.colors[2]" stroke-width="0.05"/>
            <text @click="toggleStageGate(2)" x="22" y="2" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage</text>
            <text @click="toggleStageGate(2)" x="22" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Gate</text>
            <text @click="toggleStageGate(2)" x="22" y="3" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">2 - 3</text>
            <circle @click="toggleStage(3)" cx="26" cy="2.5" r="1" :fill="this.fillsStage[3]" :stroke="this.colors[3]" stroke-width="0.05" />
            <text @click="toggleStage(3)" x="26" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage 3</text>
            <rect @click="toggleStageGate(3)" transform="rotate(45)" x="29" y="1.5" width="2" height="2" :fill="this.fillsStageGate[3]" :stroke="this.colors[3]" stroke-width="0.05"/>
            <text @click="toggleStageGate(3)" x="30" y="2" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage</text>
            <text @click="toggleStageGate(3)" x="30" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Gate</text>
            <text @click="toggleStageGate(3)" x="30" y="3" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">3 - 4</text>
            <circle @click="toggleStage(4)" cx="34" cy="2.5" r="1" :fill="this.fillsStage[4]" :stroke="this.colors[4]" stroke-width="0.05" />
            <text @click="toggleStage(4)" x="34" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage 4</text>
            <rect @click="toggleStageGate(4)" transform="rotate(45)" x="37" y="1.5" width="2" height="2" :fill="this.fillsStageGate[4]" :stroke="this.colors[4]" stroke-width="0.05"/>
            <text @click="toggleStageGate(4)" x="38" y="2" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage</text>
            <text @click="toggleStageGate(4)" x="38" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Gate</text>
            <text @click="toggleStageGate(4)" x="38" y="3" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">4 - 5</text>
            <circle @click="toggleStage(5)" cx="42" cy="2.5" r="1" :fill="this.fillsStage[5]" :stroke="this.colors[5]" stroke-width="0.05" />
            <text @click="toggleStage(5)" x="42" y="2.5" text-anchor="middle" fill="black" font-size=".4" font-family="Arial" dy=".3em">Stage 5</text>
          Sorry, your browser does not support inline SVG.
          </svg>
        </el-row>
        <el-row>
          <div v-if="this.showStages">
            <br>
            <el-switch
              v-model="category"
              active-text="Evaluation Area"
              inactive-text="Activity Category"
              @change="activateStage(stageIdx)"
            >
            </el-switch>
            <br><br><br>
            <stages :stage-data="stageData"></stages>
          </div>
          <div v-if="this.showStageGates">
            <stage-gates :stage-gate-data="stageGateData" :framework-id="frameworkID"></stage-gates>
          </div>
        </el-row>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Stages from '@/components/Stages'
import StageGates from '@/components/StageGates'


export default {
  data() {
    return {
      frameworkID: '',
      framework_data: [],
      stageData: [],
      stageGateData: [],
      category: false,
      stage_uri: '',
      stageIdx: 0,
      colors: [
        "#e30613",
        "#e94e0f",
        "#f49600",
        "#ffca00",
        "#95c11f",
        "#66bdcd"
      ],
      fillsStage: [
        "white",
        "white",
        "white",
        "white",
        "white",
        "white"
      ],
      fillsStageGate: [
        "white",
        "white",
        "white",
        "white",
        "white",
        "white"
      ],
      showStages: false,
      showStageGates: false
    };
  },
  components: {
    Stages,
    StageGates
  },
  methods: {
    toggleStage(idx) {
      this.fillsStage = [
        "white",
        "white",
        "white",
        "white",
        "white",
        "white"
      ];
      this.fillsStageGate = [
        "white",
        "white",
        "white",
        "white",
        "white",
        "white"
      ];
      this.stageIdx = idx;
      this.activateStage(idx);
      this.fillsStage[idx] = this.colors[idx];
    },
    toggleStageGate(idx) {
      this.fillsStage = [
        "white",
        "white",
        "white",
        "white",
        "white",
        "white"
      ];
      this.fillsStageGate = [
        "white",
        "white",
        "white",
        "white",
        "white",
        "white"
      ];
      this.activateStageGate(idx);
      this.fillsStageGate[idx] = this.colors[idx];
    },
    activateStage(idx) {
      this.showStages = true;
      this.showStageGates = false;
      this.stage_uri = this.framework_data.stages[idx];
      if (this.category) {
        this.getStageEvalData(this.stage_uri)
      } else {
        this.getStageData(this.stage_uri)
      };
    },
    activateStageGate(idx) {
      this.showStageGates = true;
      this.showStages = false;
      this.stage_uri = this.framework_data.stage_gates[idx];
      this.getStageGateData(this.stage_uri);
    },
    getFramework(frameworkID) {
      const path = `${process.env.VUE_APP_API_URL}/api/frameworks/${frameworkID}`
      axios.get(path)
        .then((res) => {
          this.framework_data = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    getStageData(uri) {
      const path = `${process.env.VUE_APP_API_URL}${uri}`
      axios.get(path)
        .then((res) => {
          this.stageData = res.data.activity_categories
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    getStageEvalData(uri) {
      const path = `${process.env.VUE_APP_API_URL}${uri}/eval`
      axios.get(path)
        .then((res) => {
          this.stageData = res.data.evaluation_areas
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    getStageGateData(uri) {
      const path = `${process.env.VUE_APP_API_URL}${uri}`
      axios.get(path)
        .then((res) => {
          this.stageGateData = res.data.question_categories
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    }
  },
  created () {
    this.frameworkID = 1
    this.getFramework(this.frameworkID)
  }
}
</script>

<style>
  circle{
    cursor: pointer;
  }
  text{
    cursor: pointer;
  }
  rect{
    cursor: pointer;
    transform-origin: center;
    transform-box: fill-box;
  }
  .bg-white {
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
  }
</style>
