<!--
This is the Stage Gate module of the DTOceanPlus suite
Copyright (C) 2021 Wave Energy Scotland - Ben Hudson

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-tabs type="border-card" tab-position="left">
      <el-tab-pane v-for="stageCat in stageData" :key="stageCat.name" :label="stageCat.name" :name="stageCat.name">
        <el-table
          ref="multipleTable"
          :data="stageCat.activities"
          style="width: 100%"
          data-cy-sg="activityViewTable">
          <el-table-column
            type="expand">
            <template slot="header">
              <i class="el-icon-info">
              </i>
            </template>
            <template slot-scope="props">
              <p><i v-html="props.row.description"></i></p>
            </template>
          </el-table-column>
          <el-table-column
            property="name"
            label="Activity"
            show-overflow-tooltip>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
export default {
  props: [
    'stageData'
  ],
  data() {
    return {
      activeNames: [],
    };
  },
}
</script>
